[2012-09-19 08:13] ondras opened #1 "Improve dungeon features"
- all Rooms shall be aware of their doors
- all Rooms shall have public and documented .create method
- all Corridors shall be accessible (generator.getCorridors())
- all Corridors shall have public and documented .create method

[2012-09-19 08:14] ondras opened #2 "Improve text drawing"
- support for colored/bgcolored text
- support for returned value (number of lines?)

[2012-09-24 13:47] #1 closed, assigned to ondras

[2012-09-27 12:16] #2 closed, assigned to ondras

[2013-03-05 19:38] konijn opened #5 "Original Rogue algorithm"
Greetings,

as an alternative dungeon generator, have you considered the original rogue algorithm: http://kuoi.com/~kamikaze/GameDesign/art07_rogue_dungeon.php

T.

[2013-03-12 14:56] singalen opened #6 "Support mouse"
Add onClick(x, y) and onHover(x, y) callbacks to level and/or display.
Maybe even onSwipeProgress(x1, y1, x2, y2), onSwipeEnd(x1, y1, x2, y2) and so on for pinch for touch devices.

[2013-03-15 01:23] hyakugei opened #7 "Interest in using the Module Pattern?"
I have been reading about the [JS Module Pattern](http://www.adequatelygood.com/2010/3/JavaScript-Module-Pattern-In-Depth) and also using [requireJS](http://requirejs.org). Both these things seem like things that help make using JS libraries (or modules) easier and more consistent.

I was wondering if there is any interest or desire in refactoring the rot.js code to be closer to the module pattern

[2013-03-15 02:22] #7 closed, assigned to nobody

[2013-03-17 11:04] #6 closed, assigned to nobody

[2013-03-21 15:49] CelticMinstrel opened #8 "Use Object.createProperty to make new Array methods non-enumerable"
Adding this library broke stuff because I wasn't checking hasOwnProperty when iterating my arrays. I'm fixing this, but it could also be fixed on your end by making the new methods non-enumerable. It's more complicated, yes, but it's safer.

[2013-03-23 17:46] corroded opened #9 "Are there any showcases of existing games that use this?"
Or even just demos? I'm curious to see how everything plays out. Also, is there a possibility to be able to add tiles/sprites to use for the images? Or is this built more like nethack?

[2013-03-25 10:59] #9 closed, assigned to nobody

[2013-03-26 12:55] #5 closed, assigned to ondras

[2013-03-27 21:20] waltsu opened #10 "ROT.Display() throws TypeError"
When calling ROT.Display(), TypeError is thrown:

[code]

The same issue occurs on manual page [http://ondras.github.com/rot.js/manual/#display](http://ondras.github.com/rot.js/manual/#display) also.
# EDIT

URGH, My bad, for some (unknown) reason I was trying to call ROT.Display() instead of creating new instance. Closing issue.

[2013-03-27 21:22] #10 closed, assigned to nobody

[2013-06-08 11:10] Sly777 opened #11 "Website doesnt Work"
Website doesn't work now.

[2013-06-11 06:03] #11 closed, assigned to nobody

[2013-06-12 14:46] andrew-wilcox opened #12 "Unicode Support"
I'm wondering if any work was being done into better unicode support, specifically support for the box drawing characters. Gives a nice clean look to dungeons, when they render correctly. I'd really like to submit a wall drawing function to call as a digger parameter, but honestly it's not worth the effort without special wall characters.

[2013-06-13 14:20] #12 closed, assigned to nobody

[2013-06-30 14:12] gsarwohadi opened #13 "How to get other doors connected to a room?"
I just tried this out and successfully made a Construct2 plugin port with it: https://dl.dropboxusercontent.com/u/23959551/demos/rot1/index.html. Your work is awesome! :)

I'm trying to implement doors, and I manage to add a callback within the getDoors function (with parameters x and y) but seems that it only gives 1 door position per room. If a room is connected with more than 1 corridors, it do

[2013-07-01 16:03] #13 closed, assigned to nobody

[2013-07-24 19:24] toomuchpete opened #16 "Display's eventToPosition() doesn't properly account for scrolling"
The eventToPosition() function assumes that the viewport is at the top of the page.

If the window is scrolled down, the (x,y) returned will be above the mouse cursor.

Verified this in Chrome and Safari with this: https://github.com/toomuchpete/Grove/commit/519437a5024e690370e2a78b5e1dc9de69b23bae -- make your window smaller (vertically) than the page and click, mousewheel scroll, click again --

[2013-07-25 06:46] #16 closed, assigned to nobody

[2013-08-16 05:21] toomuchpete opened #17 "Pathfinding oddness for topology: 8"
When using topology 8 with both Dijkstra and A*, it tends to ignore straight-line paths.

Using the interactive manual as a sample: change the map generation to create an empty room, like this:

[code]

[2013-09-07 12:42] jokeofweek opened #18 "No efficient way to check whether one position is in the FOV of another position."
Currently the FOV class only allows you to compute all tiles in the FOV for a starting position. It would be nice to have a way to simply compute whether another position was visible from the starting position without having to do the extra work of all other tiles.

I tried implementing this with [Bresenham's line algorithm](http://en.wikipedia.org/wiki/Bresenham's_line_algorithm) but I don't beli

[2013-09-12 12:24] #8 closed, assigned to nobody

[2013-09-14 11:22] #17 closed, assigned to nobody

[2013-11-28 14:59] troygilbert opened #20 "Support image-based tiles"
I'm very interested in using some classic rogue tilesets with Rot.js. Because rot.js is already using canvas and drawing letters into it, it looks to me that supporting blits from a sprite sheet should be a minor change. I'm thinking about passing it in as an option into ROT.Display (as opposed to creating a separate backend). Or would it be better to make a whole new backend? All of the layout lo

[2014-02-23 19:03] PedroMR opened #24 "ROT.Color.hsl2rgb() can sometimes return floating point results"
Color.hsl2rgb() is supposed to return integers in the range 0..255. However not all code paths return rounded numbers -- specifically for greyscale values. This causes problems when the resulting numbers are converted to rgb and then hex.

Fix seems to be simple -- change the line:

[code]

to

[code]

I've done that in my local copy and it worked perfectly for me.

[2014-02-24 11:30] #24 closed, assigned to ondras

[2014-03-09 16:22] Cthutu opened #25 "Draw function doesn't draw in the right place"
I thought it might be something I have done.  But it happened in the interactive manual.  To recreate:
1) Go to http://ondras.github.io/rot.js/manual/#display
2) Add this code to the end of the first same that creates a display:

[code]

3) Refresh it and you will see that only 'World' is visible (at least on my browse which is Chrome).

[2014-03-09 16:23] #25 closed, assigned to nobody

[2014-04-02 19:06] #20 closed, assigned to nobody

[2014-04-07 17:27] thesnarky1 opened #31 "Support for cursive scripts"
ROT works nicely for languages that are written left-to-right in a non-connecting script. It handles Unicode just fine (as long as the browser does) so that covers a lot of ground. However, two areas that I believe would open this up to a much broader global audience would be support for a native right-to-left rendering and the ability to nicely display characters from languages that use cursive s

[2014-04-07 18:04] thesnarky1 opened #32 "Support for right-to-left languages"
ROT works nicely for languages that are written left-to-right in a non-connecting script. It handles Unicode just fine (as long as the browser does) so that covers a lot of ground. However, two areas that I believe would open this up to a much broader global audience would be support for a native right-to-left rendering and the ability to nicely display characters from languages that use cursive s

[2014-04-08 08:42] jcubic opened #33 "Text/html based display"
Is it possible to have text based (html) instead of canvas? If no is it possible to add some code on top of rot.js without the need to fork and modify the core?

Does creating new ROT.Display that work with html instead of canvas will work?
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1540196-text-html-based-display?utm_campaig

[2014-08-20 23:07] ktiedt opened #35 "Is a flat-top double with plot possible?"
EDITED: It skipped my mind that the double width plot in the tutorials page is almost exactly what my map needs... just inverted + flat topped... so I am leaving my original text below and just adding this explanation above it. I am currently digging through rot.js examples and code trying to make this happen on my own but not having much luck of it.

----- END EDIT -----

Hi, I was recently point

[2014-09-05 07:08] #35 closed, assigned to nobody

[2014-09-14 00:34] PaulMaynard opened #37 "Manual menu header not rotating properly."
The header for the side menu is missing the unprefixed `transform-origin` property, causing it to display incorrectly in modern browsers.

https://github.com/ondras/rot.js/blob/gh-pages/manual/menu.css#L106

[code]

[2014-09-14 06:08] #37 closed, assigned to nobody

[2014-10-13 20:41] thomcc opened #42 "Support for multiple RNGs"
This is useful if you want to use one for random decisions in the game and one for UI stuff. The only one you'd really want to save is the game one. This way you would be able to avoid stuff like the players actions effecting the RNG state.

The downside here is that the places that use the RNG inside ROT now should take the RNG to use as a parameter (but you could always make it optional and defa

[2014-10-14 13:41] #42 closed, assigned to nobody

[2014-10-30 14:47] groovy9 opened #43 "Canvas element tooltips and opacity?"
I'd post this in a forum somewhere, but can't seem to find such a thing, so I'll try here.  I'm trying to figure out if rot.js can meet a couple of my project requirements.  One is that I want tooltips for map elements.  e.g. mouse over a monster and it pops up a tooltip with details about it.  This is easy with javascript, css and an html table, but I don't know anything about the canvas.  I don'

[2014-11-07 07:57] #43 closed, assigned to nobody

[2014-11-19 20:07] daid opened #44 "Combination of browser&OS anti-aliasing can cause rendering issues."
Currently, with the default ROT.Display settings. I'm getting bad rendering results, where part of the character bottoms is rendered outside of the rendering square.

If ROT.Display.Rect.cache is true then part of the character is cut off.
If ROT.Display.Rect.cache is false then I get a ghosting effect like this:
http://i.imgur.com/RlMXAVj.png
(Note that it's not just the @ that goes wrong, other

[2014-11-19 22:16] #44 closed, assigned to nobody

[2014-12-27 02:48] deisdestiny opened #46 "Additional array polyfill functions causing errors with other libraries."
The array functions "Array.prototype.random" and "Array.prototype.randomize" are causing blocking issues when using ROT with other libraries. One example is the Babylon WebGL engine, but I have encountered this issue with other libraries as well.
I had to convert them to standalone methods and replace any instance of Array.random/randomize with a call to the functions. Upon removing them, everythi

[2015-01-03 20:39] dnbard opened #48 "bower package is corrupted"
I've installed `rot` using bower:
[code]

And got empty folder (with only one file):
![empty folder](http://content.screencast.com/users/dnbard/folders/Jing/media/936814ed-d1f0-4b2f-8960-d2a1dfa71caf/2015-01-03_2237.png)

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7462440-bower-package-is-corrupted?utm_campaign=plugin&utm_conte

[2015-01-03 20:45] ondras commented on #48
Interesting. I am unable to reproduce; my output (Ubuntu Linux) looks like this:

[code]

[code]

1) what bower version do you use?

2) try to `bower cache clean` before?

3) are the results different when not using the `--save` switch?

[2015-01-03 21:06] dnbard commented on #48
Hello! Thanks for quick response. Looks like I had an issue with **bower** (and for some strange reason that issue was reproducible only on **rot.js**).

So in case if someone need it I just installed fresh version of bower (but I'm pretty sure that I had it already), clean cache and installed rot.js
[code]

[2015-01-03 21:06] #48 closed

[2015-01-09 15:51] ondras commented on #46
The problem was fixed in BabylonJS source.

[2015-01-09 15:51] #46 closed

[2015-01-18 19:24] hogart opened #49 "Manual contains &minus; instead of '-'"
For example, here: https://github.com/ondras/rot.js/blob/c7c5fe925e4dbab829adb02ab56ea1a7999d3e98/manual/pages/hex/indexing.html#L14.

I copied listed numbers and got a compiler error (`error CS1525: Unexpected symbol ```<internal>'` — yep, I'm trying something in Unity3D) which costs me about half an hour to trace. The problem is Unicode minus symbol instead of `-`. Since they both look quite the

[2015-01-18 20:53] ondras commented on #49
I agree.

The main point of having proper minus glyphs was that they are properly (vertically) aligned with the corresponding "plus" glyph. However, since there are no longer any `(+1, -1)` pairs (implicit plus is omitted), this argument is void.

[2015-02-20 03:43] mauricio-fidalgo opened #52 "Screen scaling for tiled display"
i think it would be a good idea to give the option to scale tile based games.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8732384-screen-scaling-for-tiled-display?utm_campaign=plugin&utm_content=tracker%2F297828&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign

[2015-02-20 06:22] ondras commented on #52
This is already possible. The `tileSet` option can be either HTML `<img>` tag or a `<canvas>` element, so you are free to adjust your tiles as necessary (by pre-drawing them scaled to a secondary canvas, for instance) before using them with rot.js.

[2015-02-22 02:12] mauricio-fidalgo commented on #52
the way i did was
``
display.getContainer().getContext('2d').imageSmoothingEnabled = false;
display.getContainer().getContext('2d').scale(2,2);
``
it scales up the drawings without blurring the pixels for pixely art stuff.
i think you can close that topic now xD

[2015-02-22 20:54] ondras commented on #52
Global canvas scaling might work fine for this particular case, but please keep in mind that:

1) this does not work for tiles mixed with text (text will be scaled as well),
2) canvas scaling breaks the `eventToPosition` computation.

[2015-02-22 20:54] #52 closed

[2015-03-29 21:43] rmtew opened #58 "Manual does not work offline in Chrome"
I use Windows 8.1, and the latest Chrome.

When I open the manual and click on a link like "Interactive Manual", it takes me to the directory that the manual is in.  I then have to click on "index.html" to open it.  This is because Chrome does not treat local web pages like a web site, and infer the existence of default pages - which to be fair is the prerogative of the web server.

Going to the I

[2015-03-30 07:07] ondras commented on #58
There is very little I can do with that, read more at http://stackoverflow.com/questions/4819060/allow-google-chrome-to-use-xmlhttprequest-to-load-a-url-from-a-local-file . Basically using "file://" sucks and shall be evaded alltogether :)

For offline development, I would suggest using a local webserver (http://localhost).

[2015-04-23 05:15] drschwabe opened #59 "rot causes NW to crash"
Has anyone tried using rot with NW.js ? (aka node-webkit)

My NW application was crashing and I pinpointed the problem to rot (not sure exactly where within rot however; and to be fair perhaps the problem is with NW).

I found that if I include a ```var rot = require('rot-js') ``` and then do anything related to changing the NW window object the application will crash.  If rot is not included, cha

[2015-04-23 05:27] ondras commented on #59
I would say that @blinkdog, who did all the node-porting work, might be interested in this one.

The node shim indeed pollutes the global namespace with a `window` property (https://github.com/ondras/rot.js/blob/master/node/node-shim.js#L4), so a conflict is indeed possible. I am not sure whether this is the real cause, though.

On the other hand, I am not 100% convinced that we actually *need* to

[2015-04-23 05:42] drschwabe commented on #59
Okay that solved it!   I dunno how to build rot atm, but by commenting out the ```window = global; ``` (line 8 of the node version of rot.js or whatever npm is serving up) there is no more crashing with the latest NW.js :)

I ran a rot map gen function quickly to test it so, as far as I can tell rot works fine without that - at least in NW.js anyway.

[2015-04-23 06:10] ondras commented on #59
Good to know, thanks. Once @blinkdog confirms that removing the window global does not break anything else, I will happily fix this in rot.js's repo.

[2015-04-23 08:22] blinkdog commented on #59
Following the trail of `window`, it seems the `ROT.Display` constructor uses the global `requestAnimationFrame` to kick off the rendering loop.

Because `raf.js` is protected with `if (typeof window != "undefined") {`, it should be possible to replace that `window = global` line in `node-shim` with a Node-specific version of `requestAnimationFrame`:

    global.requestAnimationFrame = function(cb)

[2015-04-23 19:46] seanewest commented on #59
@blinkdog https://github.com/chrisdickinson/raf has a battle-tested shim for requestAnimationFrame

I could try to implement it in a PR if you wish?

[2015-04-24 06:19] ondras commented on #59
Already fixed in https://github.com/ondras/rot.js/pull/60, closing.

[2015-04-24 06:19] #59 closed

[2015-04-25 02:47] mauricio-fidalgo commented on #52
@ondras How does text and tiles works at the same time? the interactive guide gives me no clues how to manage it.

[2015-05-09 12:38] blinkdog opened #61 "Things I noticed in tile.js"
Line 31 begins:

	if (clearBefore) {
		var b = this._options.border;
		this._context.fillStyle = bg;

		if (this._options.tileColor) {this._context.clearRect(x*tileWidth, y*tileHeight, tileWidth, tileHeight);} else {
			this._context.fillRect(x*tileWidth, y*tileHeight, tileWidth, tileHeight);
		}

	}

`var b` is declared and initialized, but is not used anywhere. A similar declaration is found in

[2015-05-10 08:34] blinkdog commented on #61
Not sure if this needs another issue...

There is no documentation for ROT.RNG.getWeightedValue() in the Interactive Manual.

Should this be opened as its own issue?

[2015-05-10 11:42] ondras commented on #61
Good point, will add this. No need to create a separate issue.

[2015-05-10 11:47] ondras commented on #61
Good find, can be removed.

Right, because of historical reasons, various `ROT.Display` implementations are not realized via inheritance, but using composition. So even if some options are highly specific to certain backend, they are - for the sake of completeness - defined in the top-level `ROT.Display` object. I am quite okay with this; do you suggest some change here?

`git blame` explains that

[2015-05-10 11:53] ondras commented on #61
Ah, sorry, I misread the name initially. I hope all is fixed now? :-)

[2015-05-10 20:05] blinkdog commented on #61
Yes, those changes look good! :-)

I'm working on a coverage test suite (about 33% finished now), so I'm going over almost all the code line-by-line.

I'll probably discover a handful of other small things, so let's keep this issue open for a little bit.
I'll report anything small (< ~12 lines) here. If it looks like something larger, I'll open a new issue for it.

Thanks for the quick fixes to `t

[2015-05-11 14:21] ondras commented on #61
`getWeightedValue` example added.

[2015-05-12 22:10] blinkdog commented on #61
There is a mismatch between the Interactive Manual and the code in the Uniform dungeon generator.

The Interactive Manual says:

`uniform.js` says:

So, either the manual needs the correct default (0.1), or the code does (0.2) :-)

[2015-05-13 06:54] ondras commented on #61
Fixed :-)

[2015-05-14 06:42] blinkdog commented on #61
`ROT.Map.Rogue` extends `ROT.Map` and not `ROT.Map.Dungeon`:

    ROT.Map.Rogue.extend(ROT.Map);

In a way, it makes sense. My first quick glance over the code, it doesn't seem to populate `this._rooms` or `this._corridors`, so it doesn't really meet the contract of `Dungeon`.

However, the Interactive Manual documents the `Rogue` algorithm in the Map creation / Dungeon section, so it might be a l

[2015-05-14 07:23] blinkdog commented on #61
The Interactive Manual doesn't document the options for the `Rogue` generator.

[2015-05-14 07:27] blinkdog commented on #61
I think there is a bug in the options processing in the `Rogue` constructor:

[code]

Look very carefully:
[code]
vs.
[code]

The brackets [ ] instead of the parens ( ) cause the if-statement to always be true in the `roomHeight` case.

[2015-05-14 07:45] blinkdog commented on #61
`Rogue` has it's own random number generator function
[code]
that can probably be replaced by calls to `ROT.RNG.getUniformInt` instead :
[code]

[2015-05-14 07:46] ondras commented on #61
Well, ROT.Map.Rogue is a 100% contributed code and I really have no idea how it works. Please submit a separate issue and I will try to adjust the code as necessary.

[2015-05-14 07:51] blinkdog commented on #61
Okay, I'll collect all these `Rogue` observations in a new issue.

[2015-05-14 07:53] blinkdog opened #62 "ROT.Map.Rogue"
Opening a new issue for `ROT.Map.Rogue` per @ondras in #61.

[2015-05-14 07:55] blinkdog commented on #62
`ROT.Map.Rogue` extends `ROT.Map` and not `ROT.Map.Dungeon`:

[code]

In a way, it makes sense. My first quick glance over the code, it doesn't seem to populate `this._rooms` or `this._corridors`, so it doesn't really meet the contract of `Dungeon`.

However, the Interactive Manual documents the `Rogue` algorithm in the Map creation / Dungeon section, so it might be a little confusing if someone e

[2015-05-14 07:56] blinkdog commented on #62
The Interactive Manual doesn't document the options for the `Rogue` generator.

[2015-05-14 07:56] blinkdog commented on #62
I think there is a bug in the options processing in the `Rogue` constructor:

[code]

Look very carefully:
[code]
vs.
[code]

The brackets [ ] instead of the parens ( ) cause the if-statement to always be true in the `roomHeight` case.

[2015-05-14 07:57] blinkdog commented on #62
`Rogue` has it's own random number generator function
[code]
that can probably be replaced by calls to `ROT.RNG.getUniformInt` instead :
[code]

[2015-05-15 09:23] blinkdog commented on #61
There is no documentation for map features in the Interactive Manual.

`ROT.Map.Feature`
`ROT.Map.Feature.Corridor`
`ROT.Map.Feature.Room`

[2015-05-15 10:11] blinkdog commented on #61
There are a few spots in `feature.js` where `ROT.RNG.getUniformInt()` could be used instead of calculating the random value in-place.

`ROT.Map.Feature.Room.createRandomAt`
`ROT.Map.Feature.Room.createRandomCenter`
`ROT.Map.Feature.Room.createRandom`
`ROT.Map.Feature.Corridor.createRandomAt`

[2015-05-15 10:16] ondras commented on #61
Right, this is intentional.

The Interactive Manual is not an exhaustive listing of all features (the [autogenerated docs](http://ondras.github.io/rot.js/doc/) are), but a highlight of those that are most useful.

`ROT.Map.Feature` is an experimental and unstable interface. I would propose to leave it in its current state for now.

[2015-05-15 10:17] ondras commented on #61
Fair enough, these features were present long before the `getUniformInt` shortcut was implemented. Will fix this.

[2015-05-15 11:49] blinkdog commented on #61
Sounds good to me. Probably not a good idea to promote an API that is still intended to change significantly. :-)

[2015-05-15 11:51] blinkdog commented on #61
Some spaces (not tabs) snuck in behind the declaration of _G2 in `src/noise/simplex.js`:
[code]
Can't see it very well here on GitHub ... sorry about that.

[2015-05-15 11:55] ondras commented on #61
Fixed: https://github.com/ondras/rot.js/commit/3af05caf8d9a9345587831ff4394e1a33ff8fa48

[2015-05-16 20:44] blinkdog commented on #61
There is some inconsistency in the way the FOV algorithms use the output callback.

`ROT.FOV.DiscreteShadowcasting.prototype.compute`
* The first use of the callback (the "the origin is always visible" call) provides only three arguments instead of the standard four:

[code]

`ROT.FOV.PreciseShadowcasting.prototype.compute`
* Sends visibility [0..1] as the fourth argument
* This is the documented

[2015-05-16 20:57] blinkdog commented on #61
[code]

[code]

The @param for `dir` mentions `ROT.DIR`, but this should probably be `ROT.DIRS` in both cases.

[2015-05-17 00:40] blinkdog commented on #61
In `ROT.Lighting` the constructor passes the options argument along to `setOptions`:

[code]

This references `options.range` and causes an error if no `options` object was provided at construction time. I suggest maybe a guard to skip this reference, so that a `ROT.Lighting` can be constructed without providing explicit options (i.e.: using the default options)

[2015-05-17 01:46] blinkdog commented on #61
There is an if-statement in `ROT.Lighting` that seems to be always true:
`if (!(key in emittingCells)) { emittingCells[key] = [0, 0, 0]; }`

`emittingCells` is defined locally as an empty object, and `this._lights` will never have duplicate keys.

[code]

Perhaps just change that line to: `emittingCells[key] = [0, 0, 0];`

[2015-05-17 06:41] blinkdog commented on #61
`ROT.Path.AStar` has unreachable break statements in the `_distance` function:

[code]

The `return` statements just prior prevent the `break` statement from ever being executed.

[2015-05-17 06:48] ondras commented on #61
This is intentional. I like my `case` statements to always end/pair with their corresponding `break`, even if the code block inside returns.

[2015-05-17 06:54] ondras commented on #61
Fixed in https://github.com/ondras/rot.js/commit/868a042885dfbb2abf830eb139709930ba79d652, thanks!

[2015-05-17 06:54] ondras commented on #61
I added a guard in this commit: https://github.com/ondras/rot.js/commit/868a042885dfbb2abf830eb139709930ba79d652

Do you think it is sufficient?

[2015-05-17 06:55] ondras commented on #61
Fixed: https://github.com/ondras/rot.js/commit/a7eb893b0b07345508a74f21db198c367473beab

[2015-05-17 06:59] ondras commented on #61
Shall be consistent now: https://github.com/ondras/rot.js/commit/aaca357e92957311fffbf1e13ee019b80bd23aef https://github.com/ondras/rot.js/commit/07ec62046d7ad4abdc418c29f6ab473a01e56af2

[2015-05-17 07:01] ondras commented on #61
The (semi)openness of an interval seems to be problematic with respect to math notation. In my country, for instance, `<a, b)` can be often seen. I am not sure how much attention needs to be paid to this.

[2015-05-17 07:01] blinkdog commented on #61
No problem. I rather like that pattern too, I just pointed it out because my coverage test was showing red for the break. No need to modify; the world won't end. :-)

[2015-05-17 07:02] blinkdog commented on #61
Yep! I think that looks good! :-)

[2015-05-17 07:05] blinkdog commented on #61
That's interesting! I never really considered that there might be a different notation for open () vs. closed [] intervals other than the one I knew. Yeah, knowing that, it can probably be left alone. :-)

[2015-05-17 08:28] blinkdog commented on #61
`ROT.Display.Term.computeSize` has height/width turned around:

[code]

This should be: `return [process.stdout.rows, process.stdout.columns];`

[2015-05-17 09:03] blinkdog commented on #61
And now, finally(!), a look at the work that spawned all these micro-issues:

https://github.com/blinkdog/rot.js/tree/node-coverage

[code]

The Cakefile is hard-wired to launch `firefox --new-tab`, so if you don't have Mozilla Firefox installed, you may have to open the coverage report (`coverage/lcov-report/index.html`) in another browser.

There is a still a little work to be done; 15 commits (

[2015-05-17 10:54] ondras commented on #61
This sounds very cool! I will definitely have a look as soon as possible (the machine I am using now is git-less, so probably later today or tomorrow).

[2015-05-19 15:14] blinkdog commented on #61
OK to close this issue?
I think everything was fixed except the `ROT.Map.Rogue` stuff, which all went to Issue #62.

[2015-05-19 18:33] ondras commented on #61
These are not done yet. I will close this issue once these four are adjusted (hopefully tomorrow).

[2015-05-19 21:39] ZLester commented on #61
Whoops, I thought I had snagged all of them. I'll pull that later today.

[2015-06-14 18:22] techtonik opened #66 "Mouseless web page"
Upon entering the main page I somehow expected the keyboard shortcuts to guide me around. =)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22009726-mouseless-web-page?utm_campaign=plugin&utm_content=tracker%2F297828&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campai

[2015-06-15 06:49] ondras commented on #66
@techtonik Can you please elaborate a bit? What page, what shortcuts? http://ondras.github.io/rot.js/hp/ has only regular HTML links, they are tab-focusable and enter-activable...

[2015-06-15 08:28] techtonik commented on #66
@ondras yes, the page a http://ondras.github.io/rot.js/hp/ but process '?' key to show current keyboard navigation and also highlight some letters in link menu to be one keypress away from following. Like here:

![image](https://cloud.githubusercontent.com/assets/515889/8155856/fe89a028-1350-11e5-8c25-d64c671d62ab.png)

[2015-06-15 08:33] ondras commented on #66
I see. Well, there is nothing interactive on the page (except for those plain links) and HTML link elements (`<a>`) cannot have an accesskey/accelerator, as shown in your screenshot: https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XUL/Attribute/accesskey. So I am really not sure what are we trying to achieve, with respect to the HTML platform. Perhaps the "?" key would open a simple alertbox

[2015-06-15 08:35] techtonik commented on #66
@ondras I expected a demo of `rot.js` capabilities right away from the first page. I thought it was capable of processing keyboard shortcuts.

[2015-06-15 08:36] hogart commented on #66
Or you can use Vimperator or similar tool if you like mouseless navigation so much.

[2015-06-15 08:41] techtonik commented on #66
Just wanted to play with `rot.js` features. Keyboard control is the primary stuff in roguelikes, so if this problem is not yet solved in browsers, it makes little sense to look further.

[2015-06-15 08:43] ondras commented on #66
Well, the main page is not really a showcase of rot.js features. It does not even include `rot.js` itself! :-)

I agree that keyboard control is the primary stuff in roguelikes. But the mainpage is basically a responsive screenshot, not an interactive app. The only form of interactivity are those links - and those are proper, responsive, and accessible HTML link elements.

[2015-06-15 08:44] techtonik commented on #66
I see. =)

[2015-07-15 18:11] seiyria opened #67 "show bower installation in README"
I can submit a PR if needed, but there isn't much in the README so I wasn't sure where to put it. I only know I can install via bower because of #48, so it'd be nice to have that info documented.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24392208-show-bower-installation-in-readme?utm_campaign=plugin&utm_content=tracker%2F297828

[2015-07-16 13:34] seiyria opened #68 "how do you clear text?"
Suppose I wanted to flicker text on the screen; how do I clear previous text? I've tried this:

[code]

(where `this.flicker` changes every few seconds) but no dice.

[2015-07-16 14:13] ondras commented on #67
Makes sense. I will add some info to README later.

[2015-07-16 14:23] ondras commented on #68
Hmm, the drawText routine removes whitespace from each printed line, effectively trimming the string.

This is a complex issue, because rot.js breaks text into lines. I am not entirely sure how to solve this -- you do not know *how many* characters were actually printed using the first `drawText` statement.

If you are certain about the number, than doing `.draw(x, y, " ")` in a loop is sufficient

[2015-07-16 14:31] seiyria commented on #68
In general, I do know the length of the string. What I ended up doing was just doing a `display.clear()` and then re-drawing everything. It's a bit hokey though, I think, because I also tried displaying a sequence of characters like so:

[code]

And if I didn't have the `display.clear` in here, the results were very unpredictable.

All this said, I'm not sure the global value of having `clearText`

[2015-07-16 14:35] ondras commented on #68
You know the length of the input string, but you do not know how many characters were drawn. This is because the text gets broken into lines and every line has its leading whitespace removed.

For your case, using `draw` instead of `drawText` shall yield better experience. `drawText` is *too smart* because of its complex line breaking internals.

[2015-07-16 14:38] seiyria commented on #68
Ah, I see. Thanks for the heads up. If you'd like, feel free to close this issue -- I'll leave it open in case you want to put this in the documentation or somewhere else.

[2015-07-19 14:56] seiyria opened #69 "please move prototype modifications to a utility class"
This gets in the way of other libraries doing things and it causes unexpected results. For example, I'm trying to use [d20.js](https://github.com/michaelenger/d20.js/blob/master/d20.js) but any time I use their roll function, I get this:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24600450-please-move-prototype-modificati

[2015-07-19 18:53] ondras commented on #69
Hi,

this is not really a bug in rot.js. Instead, this is an issue of the d20.js library and their incorrect iteration mechanisms.

You see, in JS, there are two syntactic approaches to iteration. The `for (p in o)` syntax which **enumerates** properties and the `for (i=0; i<...; i++)` that traverses numerically indexed values. It is a well-known fact [1] that JS array shall be iterated only using

[2015-07-19 18:53] #69 closed

[2015-07-19 19:09] seiyria commented on #69
I totally get this, and I realize they're doing something they shouldn't. I also do not think you should be modifying prototypes on natives, either, though, which is why I bring it up.

In most of the cases, the prototype modifications you provide could be obtained easily from a third party like Lodash (`_.capitalize`, `_.shuffle`, `_.extend`, etc), and I think it's best to encourage using those l

[2015-07-19 19:19] ondras commented on #69
Well, my opinion about native prototypes is obvious, so I am not going to change this without having a serious motivation to do so.

The issue with d20.js is not a reson for me, becuase this is clearly **their** faul (their crappy iteration would break elsewhere sooner or later -- think `Array.prototype.indexOf` polyfill for IE8-). So unless you point me to a well-defined naming collision, I think

[2015-07-19 19:33] seiyria commented on #69
Sure, that's fine. I wanted to have this discussion just to see where you were on the spectrum. To be clear, I'm no longer using d20.js, it's just an issue that came up whilst assessing it. I landed on [this dice roller](https://github.com/lordnull/dice.js) and I think the features are far better.

All this said, I should be clear as well: I don't mind polyfills for behavior that I would expect to

[2015-07-19 20:17] ondras commented on #69
The main strength of rot.js's `RNG` is **seedability**, which allows **reproducibility**. This is a very strong feature (particulatly in procedurally generated games), but to fully use it, you have to call `ROT.RNG.*` instead of `Math.random()` every single time you do random stuff, including array shuffling.

Also, for fun, I just implemented a simple dice roller in 120 bytes of JS: https://gist.

[2015-07-31 14:53] seiyria opened #70 "A* Performance"
I've been working on an "automated" roguelike (see [here](http://plnkr.co/edit/miYo20GPQ0cxe5rlK7wk)). Currently, the game goes pretty fast - the player takes a turn every 50ms. Every 100 turns 1-3 enemies spawn, and when they do, there's a noticeable performance drop. Currently, all of the enemies are using A* to find their way to the player, but I'm wondering if that's a wise idea.

What sorts o

[2015-08-01 16:24] seiyria commented on #70
Additionally, I think part of my problem is that somehow references to the AStar path are being held. Periodically, my game will just freeze and after doing a snapshot via code, the allocation timeline looks like this:

![](http://i.imgur.com/hRTABaE.png)

But if I just don't do any pathfinding, it looks a bit more normal, like this:

![](http://i.imgur.com/Ig133dW.png)

My code looks like this:
[

[2015-08-02 19:52] ondras commented on #70
First of all, kudos for using a full-scale ES6, including the System API! I am very happy to see ES6 used in the wild.

This issue might be a pretty tough nut to crack. First of all, do you observe similar behavior also in Firefox (I assume your screenshots are from Chrome, right?) ? I tried your code in my Firefox and I did not notice any suttering on monster spawn.

Generally speaking, I would s

[2015-08-02 20:04] seiyria commented on #70
Thanks. I really am liking ES6 and being able to use it with plunker is a dream come true. It's also fun, because I've not seen many projects use full ES6, so I think I can share what I learned afterwards! From top to bottom...

* Yes, this is chrome. It seems you're right; it's not happening at all in firefox. I may have to find someone to escalate that to. It definitely does not seem to be the p

[2015-08-02 22:38] seiyria commented on #70
Gotta say, that Dijkstra suggestion did it for me. I'm not noticing immediate hiccups upon monster spawning now, so I think I'll stick with this for a while. Thanks for the help!

FYI: I tried setting `todo` and `done` to undefined (and deleting them) but that didn't really do much.

[2015-08-02 22:38] #70 closed

[2015-08-03 11:52] ondras commented on #70
Cool, good to know. I am pretty certain I saw some (unrelated to rot.js) GC reports in Chrome, especially when compared to Firefox before.

The range limiting would be done exactly as you described, as part of the user callback function.

[2015-08-10 17:37] seiyria opened #71 "Insert X turns into the scheduler"
I'm using the speed scheduler, and I'm just now adding projectiles to my project. I figure the least hacky way to implement projectiles is to add them to the scheduler and give them turns, but I'm not sure how to add them and make sure the next X turns are theirs (where X is the number of steps between the caster and the target). Is this currently possible, or is there a better way? I've read a bi

[2015-08-10 17:55] ondras commented on #71
Kyle, unless you want your projectile to be intercepted in mid-flight (i.e. something happens during the flight), I would suggest evading the scheduler completely. Once the projectile is launched, pause the game (`ROT.Engine` if you use this) and use the `requestAnimationFrame` technique to perform the flight. Once it hits something, un-pause the game loop. I see no advantage of scheduling individ

[2015-08-10 17:57] seiyria commented on #71
That's what my current implementation was going to do (ie, stop and re-start after) but I wasn't sure how to make the game pause, then re-draw every step (which would probably be 100ms/step) without using setTimeout. I wanted to avoid doing any timeouts or intervals since that seems like a bad choice here.

Do you mean the browsers requestAnimationFrame or something internal to ROT?

[2015-08-11 07:04] ondras commented on #71
I mean the native `requestAnimationFrame`. Can you elaborate on why setTimeout/setInterval would be a bad choice?

Also, do you have any strong opinion regarding **what** is allowed to happen during the projectile's flight?

[2015-08-11 13:02] seiyria commented on #71
It's not that it'd be a bad choice, I just think it's weird to do this:

[code]

It seems like a case the engine should be able to handle (although if it shouldn't be, I'm definitely curious why - I'm pretty new to roguelike development here).

As for what can happen during the projectiles flight.. right now I'm operating under the assumption that the only people acting on it would be the caster a

[2015-08-12 19:01] ondras commented on #71
The `ROT.Engine` and `ROT.Display` are not connected in any way, their instance have no reference to each other. Your display will normally redraw, independently on the engine's state.

The `ROT.Engine` is meant as a simple wrapper atop those various scheduling algos. You are by no means required to use it; its main strength is the counting lock for cases where multiple sources (animations, for ex

[2015-08-12 19:02] ondras commented on #71
It should be noted that recent rot.js builds come with a Promise-aware `ROT.Engine`. If the `act` method returns a Promise instance, the engine will pause itself and unpause when the promise resolves.

[2015-08-12 19:56] seiyria commented on #71
This makes sense. I'll make it work that way then. Thanks for your feedback!

[2015-08-12 19:56] #71 closed

[2015-08-26 14:49] blinks opened #73 "Cellular with { topology: 6 } and display with { layout: "hex" } include malformed coordinates."
[code]

If I then call `mapGen.create`, I get 1s where walls exist and 0s both in legal empty hexes _and in illegal locations_.  By the latter, I mean that if I have the display draw at each coordinate that comes out of the map, it'll have many overlapping hexes.

While a simple workaround for the walls is to only store 1s, that doesn't allow me to determine a good coordinate for placing the playe

[2015-08-27 16:35] ondras commented on #73
Hi @blinks,
this looks like a fair issue. I will investigate.

[2015-08-31 21:09] seiyria opened #75 "FPS Limiter"
Is there a way to limit the FPS for the game? For example, my game can have up to 4 people playing (automatically), but when one of them dies, the processing speed picks up quite a bit (player turns are comptuationally expensive). If I could limit the FPS this wouldn't be too much of a problem, I think.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bounty

[2015-08-31 21:30] seiyria commented on #75
This was actually me being bad - I forgot that I had something in place for this sort of logic. It forgot to check for dead players, though, d'oh!

[2015-08-31 21:30] #75 closed

[2015-09-02 09:30] ondras commented on #73
Should be fixed in https://github.com/ondras/rot.js/commit/658a7b2b76b1d69633b8de06b13be56bd1ed31b8. @blinks, can you confirm please?

[2015-09-02 15:19] blinks commented on #73
Confirmed!  Many thanks for the quick response.

[2015-09-02 15:19] #73 closed

[2015-09-03 05:05] #67 closed

[2015-09-03 05:06] #49 closed

[2015-09-03 05:07] #58 closed

[2015-09-03 05:15] #61 closed

[2015-09-03 05:15] #66 closed

[2015-09-05 13:25] seiyria opened #76 "Maze + Dungeon map generation"
Is there a map generation algorithm that supports rooms of a given size in a maze, while still having a fully-connected maze?

[2015-09-05 18:30] ondras commented on #76
No.

But all dungeon generation algos -- Digger, Uniform and Rogue -- will always connect all rooms together, so every room shall be reachable. (Sometimes, multiple paths from A to B will be available -- uniqueness of such path is specific to the Maze family of algorighms.)

[2015-09-05 18:39] seiyria commented on #76
Sure, so then I have a request: Would it be reasonable to implement a dungeon algorithm that first generates rooms, then generates a maze around it? I'd normally just generate a maze, then dig out rooms, but I fear that might not leave all paths connected properly.

[2015-09-05 22:04] jreel commented on #76
Have either of you seen this?: http://journal.stuffwithstuff.com/2014/12/21/rooms-and-mazes/
It seems like it may be exactly (or close to) what you're after.

[2015-09-05 22:08] seiyria commented on #76
Hey, that looks really familiar. That's actually exactly what I mean.

[2015-09-07 20:42] ondras commented on #76
Nice one!

One the other hand: is there any conceptual difference between this algorithm and rot.js's Digger/Uniform variants? The one mentioned above does **not** generate a perfect maze; its rooms might be connected with more than one route.

@seiyria, what features and qualities do you require from the generated dungeon? Could you be more specific, especially when considering and comparing what

[2015-09-07 21:05] seiyria commented on #76
Sure. You're right, it's not a perfect maze. I may have misspoke when I meant that. What I mean is a map that all of the tiles are occupied (much like in a perfect maze), but instead of paths, some areas have bigger rooms (like that link above).

Digger/Uniform currently only occupy the space they need to to create coherence (ie, paths to connect the rooms, and in most cases, not much else). This

[2015-09-08 07:46] ondras commented on #76
Hi @seiyria,

thanks for your detailed explanation!

I understrand most of your requirements. They make perfect sense, although the implementation is almost certainly going to be pretty complex and time-consuming. I am willing to give it a shot, but I really cannot give any time estimates. Also, I am not sure if it is possible to fit all your requirements into a single map generation algo; perhaps

[2015-09-08 12:44] seiyria commented on #76
Yeah, I had no expectation that any of these would be simple or fast changes, but I think having these options would improve the library as a whole as well as make it easier for users to do complex things. No need to estimate, I totally get that it's not easy, haha. I definitely don't expect all of these in a single algorithm and, in fact, I think it would be better to split it across multiple.

Y

[2015-09-08 12:58] ondras commented on #76
Ah, thanks for letting me know. I adjusted the link to http://www.neocomputer.org/projects/eller.html -- this page also describes the algo.

[2015-10-09 04:02] hyakugei opened #78 "Dijkstra Maps implementation"
Hey all.

I read about using "[Dijkstra Maps][2]" for AI (see below links). I decided to give it a try, and came up with this implementation: https://gist.github.com/hyakugei/ace116bd9ce72f2bf92c

The visualization stuff on the index.html demo page is similar to the images on the "[Dijkstra Maps Visualized][1]" page. I tried to follow the same design style as the FOV or Map bits of Rot.js (using c

[2015-10-13 12:53] ondras commented on #78
Hi @hyakugei ,

sorry for the delay. And thanks for your contribution!

I am not yet completely sure whether we shall include this in rot.js itself or not. In the meantime, I have several points to consider:

1. have you seen the `ROT.Path.Dijkstra` pathfinder? Would it be possible to somehow re-use this code for Dijkstra map impl? As far as I know, `ROT.Path.Dijkstra` does not (yet) support more

[2015-10-15 21:23] hyakugei commented on #78
Hello! Thanks for the feedback!

1. I hadn't looked/known about the ROT.Path stuff before. Looking at the Dijkstra implementation, i can see how i can improve my code, but not sure how/if the existing code could be used to implement the "Dijkstra Maps". The Path code returns an array of locations, but does not compute "costs" (i know, the length is a cost) in the way that the Maps articles describ

[2015-10-16 11:15] ondras commented on #78
The Dijkstra algorithm works, by definition, by computing "cost" values for every single possible graph node (cell in our roguelike map lingo). In a pathfinding scenario, you are then interested only in a limited set of nodes with a monotonic cost values -- the (shortest) path. But even in this case, we already *have* all the cost values for all possible cells (see `this._computed` object in `ROT.

[2015-10-21 01:00] hyakugei commented on #78
Ok, I went back and threw out my implementation and tried to use the existing ROT.Path.Dijkstra stuff.
I copy/pasted most of the underlying ROT.Path, and the ROT.Path.Dijkstra code as the base. I then changed the API a bit (removing a bunch of to/from vars) and added the 'addTarget()' method. Compute and _compute changed a bit, and i tweaked the obj{} to include a 'cost'(int) and 'target'(bool). A

[2015-10-27 11:13] ondras commented on #78
Several questions for better code understanding:

1) what is the meaning of the `cost` value for `addTarget`?

2) how is the "flee" feature supposed to work, high-level speaking?

Reminder: a regular Dijkstra algorithm will populate every cell with a numerical value -- the (shortest) distance to the (nearest) zero-point. Zero-points are defined using `addTarget` (so they are, by definition, closes

[2015-10-30 14:00] hyakugei commented on #78
1) The cost is if you are making a "combined" map with multiple targets, but you want some of the targets to be "more desirable" then others. In this way you can assign different "costs" to those items. Ie. If you have a monster that likes gold more then attacking the player, and you add gold and the player to a map, you can give the player a cost of 0 but gold a cost of -5. This make the Gold "cl

[2015-11-02 15:32] ondras commented on #78
I see. There is, probably, no need to use negative numbers, right? The *most important cell* can be `0`, other potential targets can be `>0`...

I looked a bit more into the current `ROT.Path.Dijkstra` impl and I see now that the code is not really prepared to handle multiple targets, as it stores just the "closest neighbor" / "largest slope" value for every cell instead of a numeric score. This w

[2015-11-03 01:00] hyakugei commented on #78
I'm not sure about limiting the target cost to greater then or equal to 0 because I don't  know why you would limit it that like? If it works as is, why limit the designer/programmer?

I agree that the existing API would have to change quite a bit to work with this style of map, and the way I have programmed it. There may be ways to make it "fit" the existing API more easily, by taking a different

[2015-11-05 11:32] ondras commented on #78
I do not want to limit the user; I am just trying to simplify the case in order to understand it better. If we decide to have a full impl in rot.js, you will be free to use any values for default costs.

You are right, I was mistaken. This part of the Dijkstra map feature is still somewhat puzzling for me; I will have to think about it more (with respect to leveraging an existing ROT.Path.Dijkstra

[2015-11-15 18:33] seiyria opened #80 "Possible ROT.Display._data memory leak?"
Hi!

I've been using ROT for a while, and for my particular game it seems I've run into some memory leaks. I definitely have some of my own at the moment, but internally ROT seems to be eating a _ton_ of memory.

You can find my project [here](http://seiyria.com/Roguathia/) live if you want to profile it, and [here is the code](https://github.com/seiyria/Roguathia).

I've asked some folks to take

[2015-11-16 15:52] ondras commented on #80
Hi @seiyria,

I am no memory profiling guru, but the Chrome memory tool seems to show a constant memory usage -- no leaks as time passes by. Can you elaborate on how do you measure your leaks?

`ROT.Display._data` is a hashmap used to store/cache all drawn cells, so its size directly corresponds to that display's dimensions. For a display of MxN, _data shall have at most MxN items. You can easily

[2015-11-16 15:57] seiyria commented on #80
I'm not either, which makes this difficult.

The problem is that the game runs out of memory after ... well, the time varies. Eventually, in chrome, the tab just goes white and stops rendering anything. Note that I am also using angular, but this has happened whether or not angular was present.

For mreasuring, I use the profiler tool to measure the heap allocations over time. I think that when sp

[2015-11-16 21:40] seiyria commented on #80
Good news, I'm pretty sure it was just Chrome and hardware acceleration breaking. I'm testing it now. It's likely not ROT as I've been running this in firefox with no noticeable problems. Sorry about the bother!

[2015-11-16 21:40] #80 closed

[2015-11-24 00:32] fritzy opened #81 "npm releases not up to date"
The documentation says I should be able to forceSquareRatio, which doesn't work from the npm release, but does for the rot.min.js download. I'd rather be able to rely on my my package.json file for managing libraries. Would you like help keeping this up to date?
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28553902-npm-releases-not

[2015-11-24 07:36] ondras commented on #81
Hi,

I just published a fresh npm update. Please let me know if this stuff works for you, as npm is still not the main way of distributing rot.js :)

[2015-11-25 11:37] mattiascibien commented on #81
I tried it but whenever I do `require('rot-js')` node says it cannot find the module.

[2015-11-26 19:48] ondras commented on #81
You have to install the module first. Try `npm install rot-js --save` in your project's directory.

[2015-11-27 09:11] mattiascibien commented on #81
@ondras I did it. Version 0.6.0 works without problems.

[2015-11-27 09:14] mattiascibien commented on #81
@ondras I guess I did not installed it correctly. Today I seem to have 0.6.1 working. Sorry.

[2015-11-28 18:20] seiyria commented on #81
If I install 0.6.1, I get an empty module as well. I noticed my builds started breaking and I could not figure out why. Have to revert to 0.6.0 to be able to use ROT.

[2015-11-30 09:36] ondras commented on #81
I am not entirely sure what went wrong with 0.6.1. Please try npm updating to 0.6.2, this version works for me.

[2015-12-02 18:55] jaycrossler opened #82 "ROT.Display.Hex doesn't support image drawing"
It appears that ROT.Display.Tile.prototype.draw will draw an image if passed in using tileMap and  tileColorize for the tile, but hexes don't (likely because of the complex geometry of building a tile map of an image).  Any suggestions on how best to add in similar capability for hexes so as to align to the functionality found in: http://ondras.github.io/rot.js/manual/#tiles

[2015-12-02 19:24] ondras commented on #82
Right, the `Tile` backend is closely coupled to the `Rect` one, using inheritance: https://github.com/ondras/rot.js/blob/master/src/display/tile.js#L11

Technically, drawing image tiles in a hex layout is a more/less solved stuff: we have the math (`Hex` backend), we have the image stuff (`Tile`). The only real issue here is how to make this work API-wise, where the individual `ROT.Display` backen

[2015-12-02 19:25] ondras commented on #82
However, I think that having this is a reasonable request, thus assigning myself to the issue.

[2015-12-02 19:28] jaycrossler commented on #82
Thanks so much.  I'm excited!

[2015-12-30 13:58] psvensson opened #83 "rot.js breaks hashtables (in node.js)"
This took some time to find. But what happens is that rot.js adds properties to arrays, for example the 'random' function.

When you use arrays as hashtables, you will then always get at least one 'hidden' property that will jump pout and be the 'random' function.

This breaks pretty much all of my code (in a message router and ORM built separately, and which works very well with everything else I

[2016-01-02 21:01] ondras commented on #83
You are correct! That is because [you shall not use JS arrays as hashtables](http://andrewdupont.net/2006/05/18/javascript-associative-arrays-considered-harmful/) and [you shall not iterate JS arrays via for-in](http://stackoverflow.com/questions/500504/why-is-using-for-in-with-array-iteration-such-a-bad-idea).

The `random` and `randomize` enhancements of `Array.prototype` are non-standard, but i

[2016-01-02 21:20] hogart commented on #83
There's also native Map and WeakMap in almost every environment at the moment.

[2016-01-03 08:58] psvensson commented on #83
Actually I should really switch to Map since years back. Thanks for
reminding me!

I still don't agree with making changes to a library which can affect
anything not related to it, but this is a very old issue and we know which
sides we are on :)

On Sat, Jan 2, 2016 at 10:20 PM, Konstantin Kitmanov <
notifications@github.com> wrote:

[2016-01-03 19:51] ondras commented on #83
This is a very reasonable opinion, but JS just does not work this way. Polyfilled `Array.prototype.forEach` can be found in *many* libraries with respect to IE8- compatibility -- and people are totally okay with that, even if it breaks the library encapsulation.

Polyfills and monkey-patching are what we get with a language as dynamic as JS. I understand that polyfills are not that common in nodej

[2016-01-03 19:51] #83 closed

[2016-01-03 21:18] psvensson commented on #83
No, I'm OK with polyfills that giveadditional capabilities, of course. I
hope you understand that I'm specifically referring to polyfills that break
the JS spec. But there are of course two camps here, as mentioned.

I thought that myself actually (coming from the browser-side), and I
appreciate the additional difficulties porting rot-js to node, especially
the build system and tests. Good work, e

[2016-01-04 12:05] ondras commented on #83
Right. As soon as the `random` or `randomize` methods get standardized, I will immediately remove my own variants from `Array.prototype` (as long as they differ from the official version) :smile:

[2016-02-27 18:26] suicidepills opened #86 "ROT.Map.Cellular and the "connected" option"
Hi there!

I was recently looking at some old 7DRL submissions and came across the code for Beware of the Space Bears (which uses the ROT lib).  I noticed that the author was using an [undocumented option](https://github.com/tapio/7drl-2015/blob/master/js/mapgen.js) for the Cellular dungeon generator called "connected".  When I looked at the Cellular generator code, I did see evidence that this ha

[2016-02-27 19:10] kosinaz commented on #86
I was also experiencing with it after its addition, and if I remember correctly it works only with the first generation. And unfortunately it works the opposite way I wanted, because it connects the "dead" not the "alive", so it creates walls in the caves, not tunnels between them. So without modification of the code I had to create the caves the way I like through some generation, then load the i

[2016-02-29 09:22] ondras commented on #86
Hi,

this is a contributed code: https://github.com/ondras/rot.js/pull/34

I have no idea how it works; it is missing documentation, tests and a proper section in the interactive manual :/

But looking at https://github.com/ondras/rot.js/blob/master/src/map/cellular.js#L266, the algo apparently considers "free" those cells whose value is not `1`, which is consistent with the "0 = all empty, 1 = al

[2016-02-29 13:55] suicidepills commented on #86
Paging @uzudil

Have you experienced this issue?  Are we using the code wrong?

[2016-02-29 19:18] uzudil commented on #86
Hi,

Ondras is correct, changing the _freeSpace function to look for value != 0 does create connected maps, however it fails to generate in some conditions. I will see if I can create a patch to fix this (and maybe add documentation this time.)

Thanks,
--Gabor

[2016-02-29 19:27] suicidepills commented on #86
@uzudil Thank you very much for taking a look!  This feature would be extremely useful for some of my current projects.

[2016-02-29 19:36] uzudil commented on #86
Actually after some more testing - this feature appears to be working for me. For example:

[code]

Produces a map whose black (empty, ie. 0) values can all be reached.

[2016-02-29 20:03] suicidepills commented on #86
Perhaps I misunderstood... The examples for the other map generators appear to show the white cells as passable/empty.  @ondras Is the Cellular generator different for some reason?

[2016-02-29 21:10] uzudil commented on #86
Ah that's probably the issue. Let me know if that is the case and I will submit a pull request with the fix.

[2016-03-01 14:32] ondras commented on #86
Hmm, @suicidepills, can you please provide a particular example? A quick look into the `features.js` reveals that 0 is supposed to represent an empty space while 1 is supposed to represent a wall. This sounds consistent with the cellular generator... perhaps I am overlooking something.

[2016-03-01 14:38] suicidepills commented on #86
@uzudil @ondras D'oh!  You guys are both right.  I just went back to look at the examples for the other generators in the interactive manual and sure enough, the tiles displayed in black are empty spaces.

I had subconsciously associated "black" with walls/void in my head.  My bad!

With that said, it looks like the "connected" feature works as expected (huzzah!)  I was just using the map generato

[2016-03-01 14:38] #86 closed

[2016-03-02 22:55] kosinaz commented on #86
I think I know what caused the confusion.

The interactive manual says that the default born and survive options are set according to this [Roguebasin article](http://www.roguebasin.com/index.php?title=Cellular_Automata_Method_for_Generating_Random_Cave-Like_Levels). This is why the default fourth generation looks like a cave. But if I understand correctly, in the original article the inner parts

[2016-03-03 14:14] suicidepills commented on #86
@kosinaz Both the "cavern" and "lake" results seem like they could be pretty useful.

@ondras and @uzudil What do you guys think about the merits of being able to choose between connecting 0s vs 1s with a parameter/option?  If you think it would be useful (and if I can get some time this weekend), I could try my hand at it.

[2016-03-03 14:25] ondras commented on #86
I agree that both approaches are reasonable, so having a way to specify 0/1 is necessary.

But in general, this feature ("connect them!") might be moved away from the creation step, being a separate function (of the Cellular object, or something else). This would have the advantage of

  1. being able to create -> swap -> connect
  1. being able to connect non-cellular maps

What do you think?

[2016-03-03 15:25] uzudil commented on #86
Yes I agree with making this a post-creation step. It will speed up map generation. Making it accept a wall-vs-lake parameter is also a good idea.

suicidepills, let me know if you want me to do this, or if you feel like it, go for it.

[2016-03-03 15:26] kosinaz commented on #86
I agree with the decoupling of the room-connector tool.

By the way I had an other idea when I first used the connected option. Usually the result of the cellular generation is some caves connected with some tight tunnels. So the caves work like rooms, and this way the result is a kind of dungeon. But for the dungeons tunnels and rooms are defined, stored and can be used separately and you can gen

[2016-03-03 15:45] suicidepills commented on #86
@uzudil I'm not currently very familiar with your code so you may be able to bang it out faster than I could.  You may also have a better idea of how to facilitate the adding of doors (as @kosinaz describes above). Either way, I'm happy to help in whatever capacity I can.

[2016-03-03 16:03] uzudil commented on #86
Sounds good, I will write a patch for this in the next few days. I'll add some way (possibly a callback) to be notified when an extra connection is made.

@kosinaz I think just looking at the final map for good places for doors may be a better way to go. There could be generated areas suitable for doors already, even without making connections. Anyway, I'll let you know when I have the code for th

[2016-03-05 18:15] uzudil commented on #86
A new connect() method has been merged in. You'd call it after the last create(). It runs with no arguments, or optionally, you can send it:
- a callback (works the same way as create's)
- a 0 or 1 value, depending on if you want to connect empty space or walls
- another callback function that takes an array arg representing [x,y]. This is called each time a new tunnel is made to connect two forme

[2016-03-07 13:59] suicidepills commented on #86
Thanks, @uzudil !  I apologize for the recent radio silence.  Life has gotten pretty noisy within the last week so I haven't had a chance to play around with this.  Hopefully I'll be able to take a closer look within the next few days.  Thank you for setting aside some time to work on this :)

[2016-03-15 18:34] jonbro opened #90 "Rot.Display.Hex transposed + eventToPosition returns incorrect values."
It seems like it isn't doing the transposition on the incoming event, and needs to be done manually... there appear to be other issues that are more than just flipping x/y coords as well.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31919802-rot-display-hex-transposed-eventtoposition-returns-incorrect-values?utm_campaign=plugin&ut

[2016-03-15 18:47] jonbro commented on #90
oops, my bad, was using an old version of the lib.

[2016-03-15 18:47] #90 closed

[2016-03-19 17:53] suicidepills commented on #86
I've finally had some time to play around with this and it works very well for my purposes.  I've put together a quick CodePen for anyone else that would like to toy around with it, too.

http://codepen.io/atommac/pen/EKyJGw

[2016-03-21 17:39] uzudil commented on #86
Great thanks! I'm glad it worked out for you.

[2016-05-10 01:53] luizbills opened #92 "More intuitive tilemap renderer"
Instead of:

[code]

I was thinking something:

[code]

What do you think?
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34070776-more-intuitive-tilemap-renderer?utm_campaign=plugin&utm_content=tracker%2F297828&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign

[2016-05-10 08:25] ondras commented on #92
@luizbills, there was quite some discussion about this back in 2013 when we added this feature: https://github.com/ondras/rot.js/issues/20

Please see [this post](https://github.com/ondras/rot.js/issues/20#issuecomment-30816391) in particular, where I initially went with the "grid position" approach but reverted to absolute numbers after hearing user feedback and deciding absolute pixels are bette

[2016-05-10 12:56] luizbills commented on #92
So... I think we could add support to gutter/padding and return to using grid positions?

[2016-05-10 13:00] luizbills commented on #92
Support to "atlas" would be great too.

[2016-05-10 21:16] luizbills commented on #92
I have an idea to maintain compatibility.
[code]

[2016-05-18 16:24] ktiedt opened #93 "Hex calculations / var names hard to follow"
So I have been working with the Hex renderer quite a bit lately and as I get into optimizing my project... Which is a very large (upwards of 30k points) interactive map, I have started to try and identify the viewable region of the map so that I can specifically render the group of points versus rendering it all...

The problem comes in when I started trying to understand the math behind the hexes

[2016-05-19 07:58] ondras commented on #93
Hi @ktiedt,

it has been some time I wrote these, so my code knowledge is far from perfect.

The `_hexSize` is the side size, yes. `_spacingX` and `_spacingY` are variables that define distance between individual hex centers, so they directly influence the canvas size (last two lines in the `compute` function).

As the hexes are laid out in lines (their orientation can be checked at the [hex expla

[2016-05-19 08:09] ondras commented on #93
I might have omitted the fact that rot.js uses the "3: Double width" indexing approach mentioned in [the interactive manual](http://ondras.github.io/rot.js/manual/#hex/indexing).

[2016-05-19 08:50] ktiedt commented on #93
Thanks @ondras, that clears up a lot actually... the only thing that doesnt quite set in my mind now is the options.height/width... in my current test page (only local) but here is a copy of the image below, I have height: 6, width: 4 (and as I typed this I realize the height/width are transposed, which I believe explains the wide image vs tall image)...  This image ends up being 6 wide by 2.5 hig

[2016-05-19 09:50] ondras commented on #93
So, the first image:

- `width=4`
- according to `compute`, `this._context.canvas[xprop] = Math.ceil( (options.width + 1) * this._spacingX )`, so the _main axis_ shall be 5 units (2.5 hexes)
- layout is transposed, so we are talking about resulting canvas height

and

- `height=6`
- according to `compute`, this._context.canvas[yprop] = Math.ceil( (options.height - 1) * this._spacingY + 2*this._hex

[2016-06-10 16:14] veswill3 opened #94 "ROT.Display::eventToPosition(e) not working with transposed hex display"
I saw issue #90 but I do not have the ability to reopen it. I am having trouble getting ROT.Display::eventToPosition(e) to work correctly with a transposed hex display. It is returning incorrect coordinates. I noticed that [ROT.Display.Hex.prototype.eventToPosition](https://github.com/ondras/rot.js/blob/e58e99f0033e819010e9d3d3187bb06539c3ae39/src/display/hex.js#L102) has code that accounts for th

[2016-06-10 23:13] veswill3 commented on #94
I just noticed that if `height` and `width` of the display are the same then it works fine, which is why the test did not catch the issue.

[2016-06-12 19:15] ondras commented on #94
Interesting, I will definitely have a look.

[2016-06-13 08:43] ondras commented on #94
Confirming.

[2016-06-13 09:11] ondras commented on #94
@veswill3 fixed just now :)

[2016-06-13 09:11] #94 closed

[2016-06-14 04:07] veswill3 commented on #94
Thanks for the quick update @ondras!

[2016-07-02 22:36] knurt opened #96 "display.drawText with hex layout"
Short: Sometimes hexagonal backgrounds of text overlap:

Detailed explanation:

When I use hex layout, normally I want tiles to have a hexagonal background.
This isn't an issue when neighbouring cells have space to the left and right.

When I want to write readable text with display.drawText, the characters should be close to each other.
In the hex layout _sometimes_ the issue arises that the back

[2016-07-05 13:46] knurt commented on #96
It kind of works, when I use `%b{transparent}`. That's what I'm going to do for now.
`
display.drawText(2, 4, "%b{transparent}> " + heroName);`

The text gets slightly brighter and fatter, when I draw it over itself.

I could also write directly on the canvas. I would have to do some calculations, though, to translate the coordinates and change the alignment around.
Maybe I could also write a func

[2016-07-06 11:49] ondras commented on #96
Sounds like a reasonable bug. Will have a look into code to see how fixable this is.

@knurt, what behavior would you like to see? Note that hexes are indexed using the `double width` approach, so neighboring hexes differ by `2` (in X coord). This means that you either want closely packed characters *or* non-packed chars that match centers of those underlying hexes.

[2016-07-06 21:21] knurt commented on #96
I think `drawText(0,0,"01234")` should draw letters at (0,0), (1,0), (2,0), (3,0) and (4,0), like it already does, as far as I understand.
I think, that would be "non-packed chars that match centers of those underlying hexes".

This way it would look more like an real terminal, a more consistent style.
The disadvantage would be that if you have a `spacing` smaller or bigger than 1 this would make

[2016-07-07 07:55] ondras commented on #96
Hmm, I am afraid that your request does not make much sense then. The `drawText` function is basically a wrapper around the regular `draw` call, so individual characters are expected to have their own foreground/background colors (as you already figured out using the `%c{}/%b{}` syntax). This implies that individual characters shall be mapped to individual cells, which no longer holds, due to your

[2016-07-07 08:56] knurt commented on #96
I'm sorry if my request doesn't make sense. You are in no obligation! I'm honestly very grateful that you made this library at all!

Currently your example looks like this:
![overlap](https://cloud.githubusercontent.com/assets/1047303/16647772/16f0a118-4431-11e6-8b24-c339897f1e7f.png)

I would like it to look like this:
![nooverlap](https://cloud.githubusercontent.com/assets/1047303/16647771/16e9d

[2016-07-07 09:03] ondras commented on #96
Hmm, interesting. The second image ![](https://cloud.githubusercontent.com/assets/1047303/16647771/16e9dc20-4431-11e6-881e-61580f176986.png) still looks a bit weird to me, but I see your point.

Alternative solution: if you do not require line wrapping, you can take advantage of rot.js's text centering feature:

[code]

Does this work for your needs?

[2016-07-07 09:28] knurt commented on #96
It kind of works. I would have to calculate a bit, if I want a certain left alignment and I would have to draw a background in a separate step, in case I want one (for example to remove old text).

[2016-07-07 16:22] jboyle commented on #80
So I'm also running into this issue, and I'm not sure why this bug has been closed.

If you clear the display often, rot.js has a memory leak in chrome when running with hardware acceleration. On my machine, the memory usage increases steadily for 15 minutes, and then the browser tab crashes entirely.

This issue is entirely caused by Chrome - but hardware acceleration is enabled by default in the

[2016-07-07 19:26] ondras commented on #80
@jboyle would you mind providing a sample (jsfiddle or similar)? The issue is closed because I was unable to find any particular fix or code bug that would be the source/solution for this problem. As far as I can tell, rot.js itself is not leaking anything (evidence by other browsers) and fixing a browser-specific bug might be close to imposible from within the JS itself.

[2016-07-07 21:55] jboyle commented on #80
Here's a basic jsfiddle showing the issue: https://jsfiddle.net/u43phtxy/14/

You can see the memory increasing in the Chrome Task Manager.

This goes slower than my project but memory increases steadily.

Not sure if there's anything you can really do about it other than letting people know it exists. I'm making a realtime game with scrolling environments, which requires a lot of refreshes - so R

[2016-07-08 14:45] ondras commented on #80
I cannot really reproduce this. Just tried on Chrome 53, using the "Record allocation timeline" devtool profiler. The memory usage is almost constant, showing tiny variations during those scheduled repaints. Nothing that would look like a leak at all.

I agree that the memory amount in the Chrome Task Manager is going slowly up, but that can be caused by many other things (probably also including

[2016-07-18 07:31] cmal opened #97 "ROT.Map.Cellular.prototype._getNeighbors"
I've been debugging my code and traced that the `dijkstra.compute` never go into my callback functions, then I found `this._computed` never include the key `fromX+","+fromY`, then I found the _getNeighbors function didn't return the `fromX+","+fromY` key. I go into the _getNeighbors function, and found the following code ,
`if (x < 0 || x >= this._width || x < 0 || y >= this._width) { continue; }`

[2016-07-18 07:39] cmal commented on #97
I've found the problem: the passableCallback(fromX, fromY) should return true.

[2016-07-18 07:40] cmal commented on #97
I've found the problem: the passableCallback(fromX, fromY) should return true.

[2016-07-19 09:46] ondras commented on #97
Yeah, this is definitely a bug! Thanks for spotting it.

Can you please be more specific? Where and what should I fix? :)

[2016-07-19 15:25] cmal commented on #97
No. It is my fault. I'm using `rot.js` the first time. Because I didn't know the `passableCallback(fromX, fromY)` should return true, so `dijkstra.compute` did not work correctly. Thanks for the excellet `rot.js`.

[2016-07-20 20:14] ondras commented on #97
I see. I will fix the duplicate `x<0` issue soon. Stay tuned :)

[2016-07-22 07:49] #97 closed

[2016-07-22 07:49] ondras commented on #97
Fixed, thanks :)

[2016-07-26 03:54] Cleptomania opened #99 "Updating the position of a light"
Suppose I want a light that follows the player, something like a torch. Obviously this needs to update as the player moves.

I initially accomplished this by using the clearLights() function every time the game updates, then creating a new light at the player's position, and lastly calling compute().

This works fine and dandy, however let's say I have many different lights throughout the game, so

[2016-07-30 16:06] ondras commented on #99
Hi @Cleptomania,

the current API has no dedicated method for moving, that is correct.

The idea behind this design decision is that to actually move a light, you need to identify it somehow -- preferrably via its coordinates (as having multiple lights in one place is not tested, not expected and will probably yield strange/buggy results). But once you have your (old) coordinates, moving a light s

[2016-07-31 08:24] Cleptomania commented on #99
Yeah that makes sense. I didn't think about doing it that way. I've made a Light class within my game that tracks the positions of a light and handles updating it and that seems to work well. Within my map I can just contain an array of all my Light objects and update the needed lights.

[2016-10-19 04:37] walsh9 opened #103 "What about passing coords of 'from cell' to passableCallback when pathfinding?"
To determine whether a cell is traversable in cases like thin walls (like dig dug), tiles with z-height (e.g. enemy that can only fall to a 'lower' tile and not climb to 'higher' ones), and other sorts of one-way terrain, you need to know what cell you are coming from.

Could the passableCallback receive 4 parameters (x, y, fromX, fromY) instead of just the current (x, y).

Honestly, I'm having a

[2016-10-19 07:40] ondras commented on #103
I see, this makes sense. The current pathfinder consideres all directions equal, so a cell's passability is a boolean value. But I suppose you might want to make your cell accessible from one direction and inaccessible from other -- and the proposed change is backwards compatible, so +1 for a PR :-) Thanks!

[2016-11-11 00:43] #81 closed

[2016-11-17 21:44] jakofranko opened #105 "Update Bower Version"
Bower uses your git tags for versioning, and the only tag you have right now is v0.5.0. It would be nice to get the most current version in order to take advantage of recent bug fixes (Looking at Array.prototype.randomize())...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/39336939-update-bower-version?utm_campaign=plugin&utm_conte

[2016-11-23 07:10] ondras commented on #105
Hi,

thanks, I forgot to push the git tag. Shall be fixed now.

[2016-11-24 03:30] erikyuzwa commented on #105
confirmed for me anyways, now seeing `v0.6.0`. 👍

[2016-11-24 07:34] #105 closed

[2016-11-27 21:27] CelticMinstrel commented on #76
Maybe it's possible to add some option to the DividedMaze algorithm that limits the number of times the space is divided? I didn't see any obvious way to do it from code-reading though.

[2016-11-27 21:40] CelticMinstrel commented on #62
Not sure if I should make a new issue for this, but... I'd like to see room and corridor information added to the Rogue generator.

[2016-11-28 11:03] ondras commented on #62
@CelticMinstrel that is a reasonable request. I have, however, zero knowledge with respect to `ROT.Map.Rogue` (it is a contributed code), so it might take a while.

[2016-11-28 11:46] ondras commented on #76
Sounds like an iteration limit to put into the main loop at

[code]
?

[2016-11-28 12:58] CelticMinstrel commented on #76
Oh, yeah, that does look like a good place.

[2016-11-30 15:31] jakofranko commented on #105
Me too! Thanks!

[2016-12-02 21:58] mreinstein opened #110 "fov/shadow casting changes for realtime usage"
@ondras my use case is a little atypical in that I'm doing a real-time (not turn based) roguelike. The rot.js shadow casting fov implementation is great in that it's very short and fairly readable, but it churns a lot of objects through the garbage collector.

I'm wondering if you'd be open to accepting PRs that would refactor this code to be gc friendly.

for example, `_getCircle = function(cx, c

[2016-12-03 19:05] ondras commented on #110
So, first of all, I have no objections against performance-related improvements (of the shadowcasting in particular, as this code is indeed pretty resource-intensive).

But ideally such work shall be done without modifying the public API. This is not always possible, though.

I see two alternative approaches for optimizing `_getCircle` memory (de)allocation complexity:

1. caching results; I would

[2016-12-04 00:16] mreinstein commented on #110
@ondras

Agreed.  And having looked at the public API, I don't think it needs to change. Given that you're using the visitor pattern to provide a callback which fires for every visible tile in the result set, this is already reasonably suitable. Could keep the visitor pattern as-is. We could also introduce another argument at the end (some result array) and if it's present, fill that with results

[2016-12-04 20:46] ondras commented on #110
The Precise Shadowcasting algo is rather old and I do not recall every implementation detail. But:

IIRC, the recursion happens only during an edge case of a segment that wraps around the zero/360 angle.

Right, this main data structure is a set of angles. An array of two-item tuples seemed like a natural fit.

Could be a reason, yes. This code was written without any particular performance focus.

[2016-12-05 00:57] mreinstein commented on #110
@ondras  btw I just want to back up and say I hope that these points haven't been taken as harsh criticism. The reason I reached out to you here is you've got one of the most elegant and well documented js shadowcasting routines I've found on the web to date, and figured it'd be better to try to improve the best implementation I found rather than go off and add my own.  Great work on this code, an

[2016-12-05 04:00] #110 closed

[2016-12-05 07:20] ondras commented on #110
No offense done, not at all! I like to discuss stuff and I am fully aware that the FOV is indeed a resource-intensive routine which would benefit from perf improvements.

Good read! It should be noted, though, that JS VM's are changing *fast*, so there might be some new/changed insights into this, as the article is now more than three years old.

Why not. I am curious if flattening the structure b

[2017-01-16 07:34] mount2010 opened #112 "Vector support?"
I believe that having support for basic vector operations (dot, etc), which are used a lot in roguelike programming, especially since roguelikes typically use 2D grids a lot, will be helpful to have in a roguelike library.

[2017-01-16 07:39] ondras commented on #112
This is a reasonable request. But please keep in mind that rot.js is built around the premise that no data structures are imposed on the developer; routines that return complex data structures use callbacks instead. So introducing a (fixed) `vector` data type would break this premise.

I would highly suggest using [glMatrix](http://glmatrix.net/) for all your vector/matrix needs.

[2017-01-30 04:03] theJollySin commented on #76
I wrote a maze-generating algorithm in Python that will create perfect mazes from a starting map that includes an arbitrary number of rooms of arbitrary shapes.  https://github.com/theJollySin/mazelib/blob/master/docs/MAZE_GEN_ALGOS.md#dungeon-rooms

It is based on the classic hunt-and-kill maze-generating algorithm.

I could translate the algorithm to JavaScript and pull-request it into ROT, if t

[2017-01-30 08:59] ondras commented on #76
Hi @theJollySin,

a PR would be nice :) Although I am not sure what is the difference between `rooms` and `grid` optional arguments. Also please keep in mind that `rot.js`'s API for map generation is somehow non-standard with respect to the callback-based passing of computed values.

I really like your list of (python) algos; it would be great if you can enrich the page with screenshots/animations

[2017-02-17 09:22] mingos777 opened #113 "Rectangle drawing/clearing"
I can't seem to find a way to clear a rectangular portion of the canvas without clearing the rest. Is it at all possible with ROT.js, without using the canvas JS API directly or writing a loop to print a space over all the cleared cells?

Clearing or drawing/filling with background colour are both acceptable solutions. Without this, I need to redraw the entire display when I actually only need di

[2017-02-17 09:28] ondras commented on #113
The `ROT.Display` API works (only) on the **cell** level.

If you want to clear a set of cells, just `draw()` them with a blank character (or no character at all; `draw(3, 4)` would work as well). You do not need to worry much about performance, as these calls are batched and the actual canvas is processed in an asynchronous `requestAnimationFrame` loop.

[2017-02-17 09:33] mingos777 commented on #113
OK, I will do that then, though personally I believe such functionality should belong to ROT.js and not necessarily my codebase ;)

[2017-02-17 09:33] #113 closed

[2017-02-17 09:54] ondras commented on #113
What API do you propose?

[2017-03-22 11:10] adiron opened #114 "Generating map on the fly?"
Hi there

So I'm experimenting with a certain idea for a roguelike with an "overworld" map type thing. I could in theory just generate a very very big map in advance and just use that, but I don't think that's necessarily the best idea, as the map could get very, very big. Unfortunately the map generators included require a width and height and will not generator for specific squares alone.

Any i

[2017-03-22 12:42] ondras commented on #114
This is an interesting concept. And a pretty hard one, in my opinions.

Built-in generators in rot.js are certainly not well suited for this. You might be able to create one itself, but you will have to solve certain constraints -- in particular, the fact that generating a new part of a map shall not modify/influence existing parts.

Alternatively, you can use existing generators to create rectang

[2017-03-22 12:51] adiron commented on #114
I think that the trick would be to use some kind of pure function that, given X, Y coords and a seed (which is the same for all iterations) will spit out a tile that when put together would make a nice map.

I haven't tried this, but for example Perlin Noise could maybe accomplish this?

I came across [this page](http://flafla2.github.io/2014/08/09/perlinnoise.html) but it is far too mathematical

[2017-03-22 15:34] ondras commented on #114
rot.js has a noise implementation (`ROT.Noise.Simplex()`) that fits your requirements. The question is, how to convert this deterministic noise generator into a suitable map.

Several years ago, I made a proof-of-concept for this, using the noise function to create an infinitely large outdoor map. Check it out: https://github.com/ondras/railrl (playable version: http://ondras.github.io/railrl/)

T

[2017-03-23 13:06] hyakugei commented on #62
@CelticMinstrel What kind of info are you looking for? Specifically?

[2017-03-23 21:35] CelticMinstrel commented on #62
Something similar to what the other dungeon map generators in ROT already supply, and preferably compatible with them so that I can choose a generator at runtime and then access room information without needing to remember what kind of generator it was.

[2017-03-24 09:14] adiron commented on #114
Thanks for your proof of concept. I managed to do something similar. Works great so far.

As for dungeon generation, I think that sticking to the good old generation style for that is fine. ;) It's mostly the outdoor map that's an issue.

[2017-04-09 22:01] MattMcFarland commented on #62
@hyakugei first thanks a bunch for making this contribution 👍 👍 👍 👍

I'm currently dissecting the code for Rogue and have a number of questions about these "cells"

1. Why use cellWidth and cellHeight to compute the number of rooms, and also compute room sizes?  If you have too many rooms, room width and heights fall into negative numbers, causing an error.

2. Why are cellWidth and cellHeight a c

[2017-04-10 00:56] CelticMinstrel commented on #62
Just for the record, I'm currently using the cellWidth and cellHeight parameters, so if they're removed I'd want to know how to get the exact same result with the new parameters.

My impression was that the Rogue algorithm divides the map into equal-sized cells, places a room in each cell (randomly sized to fit into the cell), and then randomly connects adjacent cells until all rooms are connected

[2017-04-10 01:12] MattMcFarland commented on #62
Thanks for sharing CelticMinstrel, you are showing the good use case for cellWidth and cellHeight for the purpose of finding out the dimensions of the cells that rooms may fit into - what I'm wondering though, is can we make this not a configurable thing?

I'm currently writing my own interpretation of this algorithm, and instead I'm using a function to get the capacity of the grid itself, so you

[2017-04-10 07:45] CelticMinstrel commented on #62
Well, I guess your formula isn't quite right since you've left no room for corridors... I'd think you need at least... say, five tiles between rooms in order to fit in a corridor? I mean you could do it with less, but accounting for the fact that most corridors have two bends, five tiles is probably a good minimum.

... what the heck is `=>`? Lambda or something?

Anyway, I guess you'd want to loo

[2017-04-10 09:27] MattMcFarland commented on #62
It really makes sense to me to specify max room size, but I'm just not sure about letting users specify cell size from the start.  Unless there is a valid use case?  I think the largest a cell should be is the size of the room, and with this generator, you can set the cell to anysize which causes exceptions to be thrown if you specify cell sizing that exceeds the room size.

That being said, if so

[2017-04-10 09:41] MattMcFarland commented on #62
So I finally finished my POC! This only uses maxRoomWidth, maxRoomHeight, mapWidth, mapHeight, and has optional (seed) for randomizer so you can reproduce the same results if you need to (I personally find that useful)
![image](https://cloud.githubusercontent.com/assets/623545/24855598/154f0724-1db0-11e7-8d81-d709a575112c.png)

It follows the same algorithm, but its not using ROT.js - and its just

[2017-04-10 16:50] CelticMinstrel commented on #62
That... somehow doesn't really look like the same algorithm to me. The rooms are bumpy and the corridors are weird.

[2017-04-10 16:54] hyakugei commented on #62
Just as a FYI, the ROGUE map code i wrote follow the original ROGUE's room generation - a 3 x 3 "grid" , where each grid cell could have a room, or not. That is all that this map generator was built to do - follow the original ROGUEs style of map making. This is the article the code tries to follow:

http://web.archive.org/web/20080612035939/http://kuoi.com/~kamikaze/GameDesign/art07_rogue_dungeon

[2017-04-10 20:23] MattMcFarland commented on #62
Thanks for the replies guys,  Can we remove the cell width / height from configuration? Please outline for me what the use case is for it.  The author has stated it is to be 3x3, and I dont think anyone is disagreeing that maxroom width and maxroom height are kindof the same thing, but less buggy.

Thanks, I love this project, and I hope I'm not offending anoyne, it kinda seems like I am and it's

[2017-04-10 20:48] CelticMinstrel commented on #62
I don't think I ever suggested that it's less buggy to use max room size instead of cell size. Whichever you use, the other can be trivially calculated from it and the overall map size. Both choices have their advantages. Since ROT is already using cell size, though, I don't see why you'd change it.

Regarding the corridors, they should favour fewer bends rather than more bends. I was apparently w

[2017-04-10 20:52] MattMcFarland commented on #62
Thanks! Awesome advice, I am going to try again but this time implementing the algorithm according to the post that @hyakugei has shared.

Since ROT already uses cell sizing and room sizing, then yes I agree that really makes sense to keep it.  Its just a minor caveat after-all, not too much a big of a deal.

Big thanks on the web archive algo, I'm going to try that!

[2017-04-10 20:53] CelticMinstrel commented on #62
Looking at the page @hyakugei linked, I can see an additional potential configurable parameter - how many extra connections to make. That would be nice to see too.

[2017-04-11 23:15] MattMcFarland commented on #62
I think I may have figured it out!!

[![rogue-classic-dev1.gif](https://gifyu.com/images/rogue-classic-dev1.gif)](https://gifyu.com/image/SXNW)

[2017-04-12 00:31] CelticMinstrel commented on #62
Well, that's definitely a good start but uhh... there still seem to be a few problems.

1. Your `cellWidth` / `cellHeight` seem to have a different meaning than the one accepted by the existing generator. The existing generator allows you to specify the number of cells, not their size (the `3` in your example). I'll call this `gridWidth` / `gridHeight` for the rest of this post. (This isn't exactl

[2017-04-12 02:59] MattMcFarland commented on #62
@CelticMinstrel This latest rendition has been trying to faithfully follow the algorithm that was shared here: http://web.archive.org/web/20080612035939/http://kuoi.com/~kamikaze/GameDesign/art07_rogue_dungeon.php

So in there, I'm not seeing anything about combining rooms together as one room (as you're talking about in point 2??) - I'm also not seeing anything about diagonal rooms, instead the a

[2017-04-12 03:36] CelticMinstrel commented on #62
@MattMcFarland **wrote:**

You misunderstood what I was saying, so let me try again...

I was referring to this point in the linked article:

**Mark Damon Hughes wrote:**

From that, I inferred that even if all of your rooms fill all of the space of the grid, there will still be walls between them. Thus, the total map size in the 3x3 version of the algorithm is equal to `cellSize * 3 + 4` - three

[2017-04-13 04:58] alexjurkiewicz opened #115 "Allow variable-cost cells in pathfinding"
I noticed that A* pathfinding implementation calls its passability callback to determine if the sourceX,sourceY cell is passable. In my game this is a problem, since monsters block movement and the monster I'm pathfinding for therefore blocks its own movement! I work around this by creating the callback dynamically, and ignoring the source monster:

(typescript)
[code]

Could the pathfinding algor

[2017-04-13 08:29] ondras commented on #115
This is more tricky than it looks. Partly because I would like to maintain consistency between the `AStar` and `Dijkstra` pathfinders.

The Dijkstra algorithm works by computing distances from **every** source cell to a particular target. That is why the `[toX, toY]` coords are fixed by passing them to `ROT.Path.Dijkstra` constructor, while `[fromX, fromY]` can be modified by calling `.compute()`

[2017-04-13 08:37] alexjurkiewicz commented on #115
Fair enough! While we're on the subject I have another feature request
which I don't think I can implement myself: different cell traversal costs.
Maybe mud tiles cost 2x to move through, or similar. Would this be
possible?!

On Thu., 13 Apr. 2017, 6:29 pm Ondřej Žára, <notifications@github.com>
wrote:

[2017-04-13 08:40] ondras commented on #115
Yes, and I think that we can even re-use the current API for that. The `passableCallback` can return a numeric value, representing a relative traversal cost. This behavior might be implemented for both `AStar` and `Dijkstra` pathfinders.

I am out of time to do this properly now, but feel free to open an Issue for this feature. Someone else might be interested in implementing it or I might find so

[2017-04-17 12:53] MattMcFarland commented on #62
@CelticMinstrel  Thanks again for your feedback.

I have reworked the algorithm, and while its still not perfect because the corridor construction is a little messy, it is a lot more flexible because it allows you to configure how many cells you want, and map dimensions.  The rooms are also no longer centered in their cells, and the hall ways make twists and turns.

![](https://github.com/MattMcFa

[2017-04-25 18:29] kirbyblox opened #116 "Not a big issue, but description"
Description: "ROguelike Toolkit http://ondras.github.io/rot.js/hp/"

I don't know if this was done on purpose, but Roguelike is spelled ROguelike.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/44520125-not-a-big-issue-but-description?utm_campaign=plugin&utm_content=tracker%2F297828&utm_medium=issues&utm_source=github)** We accept

[2017-04-28 09:32] ondras commented on #116
Well, this is intentional. To make the "ROT = ROguelike Toolkit" more explicit.

[2017-05-05 18:32] #116 closed

[2017-06-21 01:19] bkjohnson opened #117 "Problem with npm package"
I ended up going with bower like you said in the readme, but I first tried with `npm` since I saw it published there so I thought I'd mention this.  When I installed rot using `npm` loading the file at `node_modules/rot-js/lib/rot.js` throws an error:

![image](https://user-images.githubusercontent.com/2008881/27362556-cbe60e20-55f4-11e7-9583-945cb620ec5a.png)

Specifically it is talking about [th

[2017-06-21 10:55] ondras commented on #117
The npm package is meant for NodeJS only. Browser users are supposed to simply include https://github.com/ondras/rot.js/blob/master/rot.min.js using a `<script>` node.

[2017-06-21 13:38] bkjohnson commented on #117
Got it, thanks!

[2017-06-21 13:38] #117 closed

[2017-07-12 19:25] eranimo opened #118 "3D field of view / lighting?"
How difficult would it be to modify / fork rot.js to support 3D field of view and lighting? I realize 3D isn't the focus of this library. I want to implement a dwarf fortress style game and I would like lighting to have a z component.

[2017-07-16 19:14] ondras commented on #118
Hi @eranimo,

all light-related algorithms in rot.js (LoS, FoV, Lighting) are topology-based. This means they heavily utilize the concept of "neighboring cells". So as far as you are able to extend those typical 2d topologies (4-, 8- and 6-neighbors) to a 3d space, we can probably make some effort in extending these algorithms as well.

I have never thought about a cell-based 3d game. Perhaps a ve

[2017-07-20 19:58] Blindmikey commented on #92
This could also be done currently, with something akin to
[code]
Where we declare our grid offset in Game.tiles and iterate through that object to create what ROT.js expects in tileMap.

[2017-07-21 20:58] camden opened #120 "Can you re-publish this to npm?"
I'd like to be able to use the latest version of this package in npm. Can you update please?

Thanks!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47483103-can-you-re-publish-this-to-npm?utm_campaign=plugin&utm_content=tracker%2F297828&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bounty

[2017-07-28 07:39] airstruck opened #121 "Possible indeterminism in Digger._findWall"
Found this bug in a Lua port of rot.js (bug report [here](https://github.com/paulofmandown/rotLove/issues/46)) and noticed it probably also affects rot.js.

In Digger's _findWall, `for..in` is used to build up an array, and then a random element is selected from that array. The problem is that iteration order of `for..in` isn't predictable (according to ES5 section [12.6.4](https://es5.github.io/#

[2017-07-30 20:07] ondras commented on #120
Re-published as 0.6.3. Cheers! :smile:

[2017-07-30 21:30] ondras commented on #121
Hi @airstruck,

good catch! The enumeration order in JS/ES is indeed undefined, yet it often causes heated discussions (see https://bugs.chromium.org/p/v8/issues/detail?id=164 for example).

JS implementations are somewhat aligned so that web pages behave the same in multiple browsers. Still, AFAIK, the V8 (Chrome) enumerates numeric keys sorted *before* other keys, while other JS impls use the en

[2017-07-30 22:14] airstruck commented on #121
Sorting would probably be the most straightforward solution. We've removed most of the string concatenation in the Lua version since it was impacting performance, and just store the room's doors as an array of points and iterate the whole thing when looking for a door at a position (actually ends up being more efficient).

[2017-07-31 00:00] airstruck commented on #78
Would it make sense for DijkstraMap to share the same interface as the other path modules (extend Path), and add a few functions to manage goals and access the map?

- In constructor, add a single goal, don't build map yet, set dirty flag
- Add a method `create(callback)`, just like Map has.
- In `compute`, if dirty, rebuild map with `create`.
- Add two methods to add/remove goals.

Pseudocode:
[c

[2017-07-31 08:02] ondras commented on #78
Yes, I think that would make sense. I have never actually used Dijkstra Maps before, but I assume people would want to have them at the very same place they have a regular pathfinder now?

[2017-07-31 08:07] ondras commented on #121
So the offending line, `var id = arr.random()`, could be modified:

[code]

And that's it, right?

As far as string concatenation goes, this would result in a more complex refactoring and I am not sure I want to undergo it right now (also, it is not related to this particular issue). ES2015 has a proper `Map` type that can be indexed by arrays, but re-writing rot.js to ES2015 is a too complex task

[2017-07-31 08:55] airstruck commented on #121
I think that should do it.

The `x+','+y` thing was an unfortunate double whammy in Lua, since the function that iterates those hash keys doesn't JIT compile either. Hopefully nothing to worry about on the JS side.

[2017-07-31 09:11] airstruck commented on #78
It definitely fits the same use cases as existing path finders. Create an object with a goal, then use it to compute paths from other points to the goal.

It also fits other use cases that might make the Path interface a little awkward. It can have multiple goals, so you might not want to pass the initial goal to the constructor if you want to add a bunch of goals later in a loop. So you might end

[2017-08-01 21:48] airstruck commented on #121
I believe `Object.keys` is guaranteed to return keys in the order they were added, so that could be another option if you don't need to support ES3. Should be more efficient than sorting, although I doubt sorting handfuls of doors would ever be a bottleneck.

[2017-08-02 06:12] ondras commented on #121
According to MDN (emphasis mine):

I will go on with the `sort()` approach.

[2017-08-02 10:46] ondras commented on #121
Fixed in https://github.com/ondras/rot.js/commit/6d9d163c1638d43483b50743700e35f7e9e627ae.

[2017-08-02 18:12] airstruck opened #122 "Missing tests for lighting"
Just a quick note that ROT.Lighting isn't covered by the automated tests.

[2017-08-02 18:14] airstruck commented on #121
You're right, my mistake! I had a vague recollection that Object.keys was guaranteed to do _something_, but apparently nothing particularly useful. Should have checked spec first.

[2017-08-02 18:14] #121 closed

[2017-08-03 07:54] drschwabe commented on #120
What is the package name?  There is no package.json in this repo's root.

[2017-08-03 07:55] ondras commented on #120
Right, the package.json is generated on-the-fly via the Makefile.

The correct npm package name is [rot-js](https://www.npmjs.com/package/rot-js).

[2017-08-05 07:47] airstruck opened #123 "Corridor doesn't always guard against room corners"
This probably shouldn't happen:

![seed-7953](https://user-images.githubusercontent.com/12876237/28993883-e00bdd36-798e-11e7-8e58-98b2913ff89a.png)

Generated with seed 7953 on the interactive manual.

As far as I can tell, there are actually two ways this can happen. Corners are marked as "expandable" walls, but are usually not eligible for expansion since they have no empty space around them.

[

[2017-08-05 11:40] ondras commented on #123
Well, IIRC, door placement has no relation to actual map (room/corridor/wall) generation. So this issue is more specific to the door placement algorithm. Adding a condition "do not place doors next to an existing door" sounds like a straightforward modification.

[2017-08-05 19:14] airstruck commented on #123
Right, it doesn't, they're just added after the fact. I guess what I'm suggesting is to add them to the _map data as part of the digging process, so you can check for them when determining whether a feature is valid.

That might work. Removing one of the doors in the highlighted example would result in one of these:

[code]

The left-hand example sort of makes sense, but the right-hand example loo

[2017-08-05 20:06] ondras commented on #123
Makes sense. Also probably makes the whole algo a lot more complex. Perhaps this approach can be used as a basis for a completely new map generating algorithm?

My own aesthetic criteria are probably not that strict: in my view, these maps correspond to hundred-years-old dungeons with many crumpled walls, damaged interiors and so on. Two doors next to each other do not pose a real issue.

I am oka

[2017-08-05 20:09] ondras commented on #76
I am open to PRs in this case, as my time is rather limited these days and I do not feel like completely refactoring `Digger` (or any other map generator).

I definitely agree that Digger, by its very nature, could be made much more customizable, providing some very different results for different sets of configurations.

[2017-08-05 20:21] airstruck commented on #76
I'll probably take you up on that. Will see how it goes in the Lua port first; would be happy to backport changes afterwards.

Thanks for taking the time to maintain this project!

[2017-08-05 20:34] airstruck commented on #123
Good point. DCSS does this occasionally and calls them "big doors." Opening a door opens all doors adjacent to it, and all doors adjacent to those, and so on, all at once. But I've never seen them in sequence in a tunnel; they usually appear like this:

[code]

It does seem reasonable to say that doors belong at application level, and just leave everything as-is, with the existing doors being more

[2017-08-05 20:34] #123 closed

[2017-08-08 23:23] camden commented on #120
Thanks @ondras!

[2017-08-08 23:23] #120 closed

[2017-08-13 17:36] theotherhiveking opened #124 "Unable to load version 0.63 (from npm)"
Hello.

I tried Rotjs with Webpack in a new project, but I think that the build on npm for version 0.63 is broken (version 0.62 works fine).

Loading a bundle with Rotjs in it in the browser results in this error:
[code]
Line 5521 ([bundle.txt](https://github.com/ondras/rot.js/files/1220581/bundle.txt)):
`ROT.Display.Term = function(context)`
Which is the first line of node/term.js.

I had a look

[2017-08-28 06:15] ondras commented on #124
Hi @theotherhiveking,

thanks for this bugreport. I will try to have a look at it.

[2017-08-28 13:12] #124 closed

[2017-08-28 13:14] ondras commented on #124
Hi @theotherhiveking,

please try updating to the NPM version 0.6.4 and trying again.

[2017-08-31 18:36] theotherhiveking commented on #124
Just tried it. I can confirm it's working.

[2017-10-16 02:31] eranimo opened #126 "Background / foreground not aligned"
When using any font and forceSquareRatio.

Example:
<img width="167" alt="screen shot 2017-10-15 at 10 30 10 pm" src="https://user-images.githubusercontent.com/2599464/31592736-7539748a-b1f8-11e7-8622-5d9bcbdfd0d5.png">

[code]

[2017-10-16 08:19] ondras commented on #126
I am afraid that there is not reasonable way of solving this, as I am unable to detect this situation.

In particular, when using `ROT.Display`, the general assumption of individual rectangular cells having the height of `fontSize` is being made. There is no feedback available that would tell us what is the actual glyph height is. The canvas is partitioned into rows (and columns) of a fixed height

[2017-10-16 14:08] eranimo commented on #126
Understandable. Are there special fonts that would solve this problem?

I think the misalignment is the same for every glyph of the font. What we really need is an offset value just for the foreground glyph, instead of a spacing value.

[2017-10-16 14:12] ondras commented on #126
The glyphs, in my opinion, shall be (vertically) centered, as the canvas has `textBaseline = "middle"`. I would not be surprised if the resulting rendering was different across multiple browsers (have you tried Chrome + Firefox + Edge?).

[2017-10-20 22:12] jbrod22 opened #127 "ROT.Scheduler.Speed not working properly"
Hi all,

I'm using ROT.Scheduler.Speed in my web game. I'm running into a few problems.
1. Scheduler.next() is not returning the proper item. It only returns the first object added, in this case the player.
I found a fix for this by replacing ROT.Scheduler.prototype.next() with this
`ROT.Scheduler.prototype.next = function() {
	this._current = {}
	Object.assign(this._current, this._queue.get())
	r

[2017-10-21 00:59] jbrod22 commented on #127
Solved issue!

[2017-10-21 00:59] #127 closed

[2017-10-30 20:33] infiniteperplexity opened #129 "suggest making Array.prototype.random and Array.prototype.randomize non-enumerable."
i.e.

Object.defineProperty(Array.prototype, 'random', {
  enumerable: false
});

Object.defineProperty(Array.prototype, 'randomize', {
  enumerable: false
});

[2017-10-31 07:40] ondras commented on #129
Good idea!

[2017-12-09 13:46] nemoDreamer opened #131 "Importing `ROT` breaks Phaser.js's game loop"
I'm trying to use ROT's FOV and Map generation utils inside of a Phaser game.
I've got a webpack / babel setup, and am able to do

[code]
and even
[code]
and can get access to all the `FOV.RecursiveShadowcasting` goodness, etc.

**But** then Phaser's normal init-preload-create-update-render-update-render-... loop is broken.
Even just importing it without using it in the game code.
None of the code

[2017-12-09 19:11] ondras commented on #131
Hi @nemoDreamer,

thanks for your bugreport! Let me reply to individual parts of your post.

Nice! Would you care to share the webpack setup that allows for this? I am considering refactoring rot.js to ES6 modules, but my time is very limited and such endeavor might be very complex.

Good, so you are probably able to create a nicely small reduced test case? That would be most helpful for debugging

[2017-12-11 14:09] nemoDreamer commented on #131
Cool, will do the Gist! (this is a side-project for me, so it'll be slower, sorry...!)

**Answers:**

Nothing at all, just works! Due to the nature of webpack imports, it's probably still bundling the whole thing anyway and then just doing a `const FOV = ROT.FOV`...

With the _"extracted FOV out of ROT into a static file"_ bit, I meant that I'd simply copied `ROT.DIRS`, `ROT.FOV` and `ROT.FOV.Recu

[2017-12-11 14:11] ondras commented on #131
Damn, so you truly removed the rot.js initialization phase, which is now the one to blame. Well, let's see the Gist.

[2017-12-11 14:56] nemoDreamer commented on #131
Here goes!
https://github.com/nemoDreamer/webpack-babel-phaser-rot-js

This evening, I'll try importing rot.js like I imported Phaser+Pixi (using the `export-loader`) plugin which'll just expose `ROT` as an impartable variable.

[2017-12-11 15:31] nemoDreamer commented on #131
Oooh: could it be related to rot.js' polyfill of `requestAnimationFrame`?

Ok, I _really_ need to get back to work...!!! 😬

[2017-12-11 15:31] ondras commented on #131
I am pretty certain I found out the cause.

TL;DR: the rot.js's `requestAnimationFrame` polyfill for nodejs environment does not pass the timestamp argument: https://github.com/ondras/rot.js/blob/master/node/node-shim.js#L4

Long story: rot.js contains polyfills for certain features that were not always available in older browsers. One of these is the `requestAnimationFrame` function, crucial for

[2017-12-11 15:33] ondras commented on #131
(Why is the polyfill incorrect? Because rot.js is **old** and older versions of requestAnimationFrame were not passing any arguments at all. See https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame for reference.)

[2017-12-11 15:45] nemoDreamer commented on #131
Ah, so it _was_ `requetAnimationFrame`. But I'd wondered, since `raf.js` seemed guarded against overwriting...

Are the node.js-specific shims under your control?
How is `rot-js` package

[2017-12-11 15:46] ondras commented on #131
Yes, they are part of the rot.js codebase. They are not my code, but regular part of the repository. And I will fix them, as well as the browser-side polyfill (that gets obviously never used these days, but...).

[2017-12-12 12:35] ondras commented on #131
@nemoDreamer would you mind updating rot.js (from NPM or Github) and trying again? I hope I fixed the issue, but I have not tested that at all :-)

[2017-12-12 17:49] nemoDreamer commented on #131
🎉 Woohoo! 🌮 🍕 ❗️

Thanks SO MUCH, @ondras! Now I can take this evening's tinkering to the next level!

[2017-12-12 17:50] #131 closed

[2018-02-14 01:23] lostfictions opened #132 "[discussion] Modernizing rot.js"
Hey! I wanted to open a conversation about modernizing the rot.js codebase to make it a bit more maintainable, and potentially more welcoming to contributors too.

From reading the code over I think it's really well-engineered and very readable (albeit a bit sparsely commented in some places) but I think the way it's organized is a bit idiosyncratic for JS nowadays. I guess that's just an inevitab

[2018-02-14 09:31] ondras commented on #132
I agree with the general attitude here. Rot.js was written in pre-ES6 era and updating the code makes sense. (But takes time I am somewhat lacking now.)

If **I** was to update rot.js, I would definitely:

  - stick with vanilla JS,
  - convert the code to ES6 modules,
  - bundle them using Rollup, driven via Makefile

Further improvements (introducing let/const, destructuring, default args, async

[2018-02-14 21:39] seanohue commented on #132
It might be cool to have the library itself be in vanilla ES6, but to include TypeScript definition files for folks who want to write their game in TypeScript, or simply for the Intellisense support it offers.

[2018-02-14 22:10] lostfictions commented on #132
Thanks for the detailed responses @ondras @blinkdog !

@seanohue I'm not a huge fan of maintaining typedefs out-of-band (that is, manually written as a separate definitions file) for a few reasons:

- Typechecking isn't enforced within the library code proper, so you lose all the actual benefits to correctness and maintainability of having types. (You also lose the clarity and readability of havin

[2018-02-14 22:26] lostfictions commented on #132
Also, as @ondras noted, simply removing the prototype extensions is indeed a backwards-incompatible change. With my fork I haven't been taking any particular care to maintain API compatibility -- while I didn't want to make any drastic changes, I thought it might be a "clean break" to change some of the API surface in a few places. It could potentially be published as a new semver-major version an

[2018-02-15 10:26] ondras commented on #132
As far as backwards compatibility goes, I am totally okay with new major version that changes the API surface a bit (mostly those prototype enhancements). There is not much going on in rot.js these days, so people are not really forced to *break compatibility in order to get shiny new things*. This discussion is related mostly to geeky inner reworking which does not really improve stuff for a regu

[2018-02-22 17:16] konijn opened #133 "Supporing Typematic rates"
Greetings!

In the days of PS/2 keyboards, pressed keys would by default repeat faster after holding them down 0.5 seconds, they would trigger 11 events per seconds until the key up.
More info:
http://www.tekweb.dk/manuals/command/commands/M/MODEST.HTM

Is it possible to emulate this in ROT.js ? (Keeping track of 'down'/'pressed' events for a key without a matching 'up'? This would make crossing l

[2018-02-22 20:51] kosinaz commented on #133
Check out https://github.com/kosinaz/Dungeons-of-Neverknown
I think this is what you are looking for.
It is not based on rot.js though.

[2018-02-23 12:03] konijn commented on #133
That, and for other users looking here, just setting `mode con rate=31` in the console fixes my problem as well.

[2018-02-23 12:05] #133 closed

[2018-03-02 02:55] Bozar opened #134 "Add a new method: display.clearBlock()"
Hi ondras, I'm wondering if it is possible to clear a block in the canvas?

    function (x, y, width, height, fillText) {
        for (let i = x; i < x + width; i++) {
            for (let j = y; j < y + height; j++) {
                Rot.display.draw(i, j, fillText)
            }
        }
    }

[2018-03-02 12:40] ondras commented on #134
Just draw "nothing":

[code]

You can use an empty string, a space, a `null` value...

[2018-03-02 13:18] konijn opened #135 "ROT.Map.Uniform only uses the set seed for rooms, not for corridors"
Greetings,

it would appear that the corridors do not use the seed from
`ROT.RNG.setSeed( PP.game.seed * PP.game.level );`

An example is here:
http://konijn.github.io/project-pandora/

Just start a game by pressing 1, then hit control S to save, every time you reload game 1 , you will see the rooms and the player in the same spot, but the corridors are every time different.

[2018-03-02 14:00] ondras commented on #135
This is caused by a collision with your own `ArrayRandom` function that conflicts with the rot.js-based one:

[code]

Removing this function of yours might completely solve your issue :-)

[2018-03-02 15:06] konijn commented on #135
Oh my, you rock!!

[2018-03-02 15:06] #135 closed

[2018-03-29 00:29] twpage commented on #134
Does this work on a canvas with transparent background? I've never been
able to do that, I always have to write a separately function to clear the
canvas context directly. If you don't know off-hand I'll dig up some code
and see if I can prove myself right (or wrong).

On Fri, Mar 2, 2018 at 7:40 AM, Ondřej Žára <notifications@github.com>
wrote:

--
Todd Page
twpage@gmail.com

[2018-03-29 08:22] ondras commented on #134
No, it does not. The canvas is never *cleared*, but rather drawn atop.

Implementing true *clearing* is a significantly complex task, because we also have hexagonal cells so the `clearRect` call is not sufficient here.

[2018-03-30 00:46] twpage commented on #134
Thanks for the quick response! And yes, very good point about the hexes. My
guess is it may be a fairly niche problem, so probably not worth a lot of
effort. The work-around (for rectangles at least) is pretty easy.

On Thu, Mar 29, 2018 at 4:22 AM, Ondřej Žára <notifications@github.com>
wrote:

--
Todd Page
twpage@gmail.com

[2018-05-17 03:09] Blindmikey opened #136 "Currently no way to utilize stacked tiles with tileColorize"
There doesn't seem to be a way to utilize both great features. Stacked tiles in ROT.Display.draw() works only when tileColorize is not set.

Proposed syntax would be
[code]

[2018-05-17 08:26] ondras commented on #136
Makes sense! Also, this looks like a pretty straightforward improvement.

[2018-05-17 12:30] ondras commented on #136
@Blindmikey I believe I fixed this (and added a small demo to the interactive manual) in https://github.com/ondras/rot.js/commit/5375817b392b6276bbe0f38c15dd555da5d5ebf2

[2018-05-17 18:17] Blindmikey commented on #136
This is amazing, thank you so much!

[2018-07-15 10:14] jcubic opened #137 "Digger sometimes generate room with one cell"
I have basic gold collecting game https://codepen.io/jcubic/pen/ejJvdW?editors=0010

and it sometimes generate map that look like this:
[code]
You can test this by calling `Game._generateLevel('>'); Game.player._draw()` few times from console.

[2018-07-15 15:01] jcubic commented on #137
Sorry it seems that there is bug in my code user is out of the map.

[2018-07-15 15:01] #137 closed

[2018-08-02 17:52] scambier commented on #132
Any news on this?

[2018-08-03 06:43] ondras commented on #132
No, unfortunately. My time is a very limited resource these days (leaving for a three-week vacation in four days, btw) and re-working rot.js into ES6 and/or TS is a truly major task.

On the other hand: I am somewhat taking care about quite a large number of projects, all of them require some maintenance, and rot.js is probably the number 1 when it comes to priority. So this refactor **is** going

[2018-08-16 01:45] Bozar opened #138 "[Question] How to get the height of wrapped text?"
Hi Ondras, I have made a [game](https://github.com/Bozar/cursedSouls) with rot.js, the libray is very handy! <3

But there is one feature I hope rot.js could provide natively. When I want to print a long text in the message board, the width and height of which is fixed, I need to know how 'tall' the wrapped text is. For example, the height of the following text is 3:

I have tried myself following

[2018-08-16 17:14] blinkdog commented on #138
I think you're looking for `ROT.Text.measure`:

`measure: function(str, maxWidth)`

This returns an object with fields `width` and `height`.

[code]

Maybe @ondras can add an entry to the interactive manual?

[2018-08-16 19:57] atiaxi commented on #138
FWIW `display.drawText` will do the wrapping if you give it a `maxWidth`
argument at the end; the function also returns the number of lines it ended
up drawing so you can get the height-measure there.

That said, that's only useful if you don't need the height *before* you do
the drawing :)

On Thu, Aug 16, 2018 at 1:14 PM Patrick Meade <notifications@github.com>
wrote:

--
Roger Ostrander

[2018-09-18 20:11] ondras commented on #132
Hi there,
(/cc @lostfictions @blinkdog @scambier)

I have some good news! The work on TypeScript-based refactor of rot.js has just begun.

My TS skills are still not that high, so I will be learning a lot during the process. You can see the ongoing work in the `ts` branch (https://github.com/ondras/rot.js/tree/ts).

I moved everything into the `_old` subdirectory and started with a clean slate. Wh

[2018-09-19 04:36] lostfictions commented on #132
For `.d.ts` files I'm not too sure what the question is -- for projects written in TypeScript, there's no need to mess with DefinitelyTyped or anything, you just publish the generated `.d.ts` files alongside the NPM package and consumers will automatically pick them up. You just need a `types` field in your package.json alongside the `main` field -- see here: https://www.typescriptlang.org/docs/ha

[2018-09-19 06:34] ondras commented on #132
I am completely open to any docgen out there. It should probably support both TS annotations and jsdoc-comment annotations, as the codebase will probably use these two.

I would like to stick with Jasmine, because all current rot.js tests are written in Jasmine. But I plan to switch from HTML runner to console runner, so that those tests that are not browser-specific can be run easily.

Some tests

[2018-09-19 07:11] lostfictions commented on #132
I'd _highly_ recommend taking a look at the [Jest docs](https://jestjs.io/en/) and some examples: it supports Jasmine's API for both grouping tests and assertions, so (picking an file from the specs directory at random here) something like [spec/display.js](https://github.com/ondras/rot.js/blob/master/tests/spec/display.js) might work out-of-the-box -- `describe("a test group", function() { ... })

[2018-09-19 08:04] ondras commented on #132
Sounds nice! I will definitely have a look. Note that the tests shall be runnable from a HTML page as well.

Will try!

My initial idea was to point nodejs users to (transpiled) ES2015 modules so they can handle them as they need (either using experimental native modules or by transpiling them to commonjs etc). As far as the complicated build chain is considered, the entry point in most cases shou

[2018-09-19 20:38] ondras commented on #132
@lostfictions I just ported `ROT.Display` and boy, that TS is a lot of work! You certainly did quite a lot of work in your TS fork. Kudos to you!

(I am unfortunately not directly re-using your code, as I want to learn TS myself and this is a great opportunity. I am, however, taking a lot of inspiration from your work.)

There is one thing that still puzzles me: with `strictNullChecks`, this seems

[2018-09-20 03:46] lostfictions commented on #132
Right -- both these approaches work. In general this isn't an issue because typically one concats something into a non-empty array -- that's the whole point of concatting, right? -- but this is a case that confuses the typechecker. When you declare an empty array without a type hint, it has no context to infer what kind of thing(s) are going to go in there, so it defaults to `never[]` (nothing can

[2018-09-20 03:54] lostfictions commented on #132
Incidentally, for what it's worth, you should never have to use `any` in your own code, even though it may seem tempting when you're getting started.

It may sometimes be useful at the boundaries of your codebase where you're interacting with someone else's code, but even then you can typically do better than `any` ([`unknown`](https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#

[2018-09-20 05:43] atiaxi commented on #132
Another reason I tend to do exactly that even when the compiler has it in hand is that I find it makes the Autocomplete work better :)

[2018-09-20 08:55] ondras commented on #132
Thanks for all the comments. I decided to stick with `([] as string[]).concat`, although in my opinion it makes the code much less readable. I consider `[].concat(x)` as an idiomatic way of converting a value to array in JS...

[2018-09-20 12:02] ondras commented on #132
@lostfictions this does not seem to work for me. TS generates one `.d.ts` per each `.js` generated. I suppose this is okay, as long as the end user opts to use ES2015 modules. But those two prefer the bundled file will have to live without `.d.ts`.

[2018-09-20 14:01] ondras commented on #132
Slowly moving forwards.

- Build process (Makefile-based) almost complete and documented:
![](https://raw.githubusercontent.com/ondras/rot.js/ts/build.png)
- More modules ported (utils, color, stringgenerator)
- Autogenerated docs
- Manual semi-ported

[2018-10-11 16:46] jcubic opened #141 "Issues when using form unpkg.com"
I've tried to use this file https://unpkg.com/rot-js/lib/rot.js (the only file) because rawgit will stop working and it give me errors, first global is not defined then exports and now after adding:

[code]
it give me error `Cannot set property 'isSupported' of undefined`

because it try to execute:

[code]

event that exports is undefined. The fix is to use:

[code]
which i thing is stupid (false

[2018-10-11 16:48] ondras commented on #141
Well, the npm rot.js package is currently meant for server-side (nodejs) usage only.

Stay tuned, as a TS-rewrite project is [under development](https://github.com/ondras/rot.js/issues/132) and I hope that the modernized version would offer npm packages both for the server and client side.

[2018-10-11 17:42] jcubic commented on #141
Great and thanks for this awesome project.

[2018-10-22 22:16] blinkdog commented on #132
That's pretty cool. Way back when I first wrote the shims, my goal was to make the library usable in Node with minimal disruption to mainline development. Today, Node lives in the mainline.

I can scope this work out after November. I do think there is value in maintaining a coverage suite, but I'd probably aim to refactor the CoffeeScript tests as ES6 tests running under Jasmine. I think `istanbu

[2018-10-23 21:47] lostfictions commented on #132
ES modules just export immutable bindings to live values, so something like this is definitely possible:
[code]
So `DEFAULT_WIDTH` won't be writable for consumers of the module, but `setDefaultWidth` will work just fine. ([This article](http://2ality.com/2015/07/es6-module-exports.html) is a nice summary of that if it helps.)

If it's just a question of it being confusing for defaults to be writab

[2018-11-12 02:47] bbugh commented on #132
@ondras exciting for TypeScript! Will you be publishing the types with the package? Currently the source is using TypeScript but we can't import types from it without still using `@types/rot-js` (which has some problems).

[2018-11-12 03:08] bbugh commented on #132
Apologies, looks like you've already set up the types, but not in a way that the TypeScript compiler can automatically find them. I created a simple PR https://github.com/ondras/rot.js/pull/142 so that our projects can pick it up.

[2018-11-28 12:20] bbugh opened #143 "Types for map generation incorrectly require callback"
There is an issue with map generator `create` methods requiring a callback even if the usage doesn't require it.

**Current Behavior**

Attempting to call the `create` method of the Cellular map generate (and others, it looks like) will cause an error.

[code]

I found this on the Cellular map but it appears to be a problem in other cases. I don't know the full extent or I would submit a PR for it

[2018-11-28 12:47] ondras commented on #143
Hi @bbugh,

thanks for the bugreport. I just pushed a new version where these callbacks have correct optional signatures.

[2018-11-28 13:17] bbugh commented on #143
Wow, quick turnaround, thanks! It's working great. Much appreciated.

[2018-11-28 13:17] #143 closed

[2018-11-29 12:35] bbugh opened #144 "Dependent interface SpeedActor is not exported"
Thanks for rebuilding this in TypeScript, it's really great to have a mature library with types. I imagine it was a big job.

**Current Behavior**

The Speed Scheduler has an interface `SpeedActor`, expecting `T` to extend `SpeedActor`. Unfortunately, `SpeedActor` isn't exported:

https://github.com/ondras/rot.js/blob/f62ac1ed9fd9f06973cd351037a5daed9cc3ed1b/lib/scheduler/speed.d.ts#L2-L5

We can

[2018-11-30 13:20] ondras commented on #144
I am not 100% sure how to do this.

I can simply add `export` to the SpeedActor interface, but this module is re-exported in the sibling `index.js` file. And it is apparently not possible to re-export an interface this way...

[2018-11-30 16:38] bbugh commented on #144
Yeah, I didn't submit a PR because there's more to consider.

I think with the given setup (`Scheduler` being an exported namespace rather than each individual scheduler being exported), it's a little tricky. I see that other modules have partial exports too (e.g. `StringGenerator` is exported without `Options`).

Typically, a library's `index.ts` will export all of the library modules at the top

[2018-12-03 09:37] #144 closed

[2018-12-03 09:37] ondras commented on #144
Thanks @bbugh for a thorough explanation. I fixed the export in the way you suggested.

[2018-12-16 03:40] mingos777 opened #148 "Unable to use ROT 2.0.2"
As of 2.0.2, ROT is compiled to es2017. This target makes it completely unusable in a Node.js (v10.14.1) application (even with `--experimental-modules` flag, as it requires .mjs file extensions).

I realise that es2017 features are actually in use (tsc complains about `padStart()` method use when compiling to es6), but these are rather easy to polyfill.

[2018-12-16 13:24] mingos777 opened #150 "Why Puppeteer?"
Is there a reason to use Puppeteer specifically? It causes all sorts of problems for people not using the same browser or operating system. The `tests/run.js` file specifies the browser path to be `/usr/bin/google-chrome` but

* on my mac, the path is actually `"/Applications/Google Chrome.app/Contents/MacOS/Google Chrome"`
* on my linux box, I don't even have Chrome, but instead Chromium installe

[2018-12-16 14:00] mingos777 opened #151 "Recursive Shadowcasting range"
While testing Recursive Shadowcasting, I ran into an issue with its range treatment. I pass in `Infinity` to the `compute` method, hoping it will just stop when the map transparency is false. It does not and instead, it enters an infinite loop:

[code]
The `for` loop above never terminates.

For the record, both Precise and Discrete accept `Infinity` and terminate properly whenever the map says it

[2018-12-16 14:46] ondras commented on #148
For node, please use the `dist/rot.js`. This is the file used in the [node.js example](https://github.com/ondras/rot.js/tree/master/examples/node). It is also referenced `package.json`'s `main` field: https://github.com/ondras/rot.js/blob/master/package.json#L30

[2018-12-16 14:52] ondras commented on #150
Hi @mingos777,

I agree that using puppeteer-driven Chrome is sub-optimal. Unfortunately, rot.js uses a non-trivial amount of clientside-specific APIs (canvas, CSS OM), so testing tools that are native to nodejs cannot be really used. In other words, we need a real web browser to run all rot.js tests.

You can do that manually by opening https://github.com/ondras/rot.js/blob/master/tests/index.htm

[2018-12-16 14:57] ondras commented on #151
Good find!

/cc @thesnarky1, because he is the author of the Recursive Shadowcasting impl.

[2018-12-16 15:16] mingos777 commented on #148
Hm. This should work then. Yet it completely borks my TypeScript compiler.

The code I used was something along these lines:

[code]
The compiler complains about the namespace `FOV` not existing.

[2018-12-16 15:18] mingos777 commented on #150
OK, I was unaware of browser-specific APIs usage. Closing the issue for now as it was more of a question than a request to provide a fix.

[2018-12-16 15:18] #150 closed

[2018-12-16 20:36] jonbro opened #152 "low framerate when drawing graphical tiles"
when attempting to update a full console worth of graphical tiles (80x40 of 8x8 tiles) using colorized mode, I am getting really bad framerates, somewhere on the order of 700ms per frame. You can see a simple example here:
https://grateful-kilometer.glitch.me/

I built a version that uses more bit twiddling to get the images onto the canvas, and for my simple case (a single layer of tiles with bac

[2018-12-17 07:34] ondras commented on #152
Hi @jonbro,

thanks for the report. It would be very beneficial to find out what part of the whole task is being the framerate bottleneck: is it the actual canvas drawing (i.e. `drawImage`), the colorizing phase, some internal rot.js housekeeping, or something different? Were you able to profile? Your fast implementation does not happen to use any parts of rot.js, so it is difficult to see what sh

[2018-12-17 20:06] mingos777 commented on #148
OK, I fiddled around a bit with the project and it seems I can use it after all, albeit not without adjustments.

Here's my test code:

[code]

Initial attempt to compile it (again, using rot.js 2.0.2 from npm) yields an error:

[code]

This is the issue I submitted a PR for. After fixing the import in `lib/lighting.d.ts`, the compilation is successful. I added a `console.log("DIST")` line at the

[2018-12-17 21:07] lostfictions commented on #148
Yeah, the organization of things in the project is definitely not ideal IMO. I haven't really dug into the build process @ondras ended up with, but I had made some recommendations that I think kind of ultimately got ignored :(

(Not strictly related to the problem at hand, but one thing that jumps out at me immediately looking at the Makefile is the use the use of `inotifywait` over the entire sou

[2018-12-18 00:02] mingos777 commented on #148
@ondras I guess this remark really goes to you. Is a new build process acceptable? If so, I'm more than happy to help when I find some spare time.

[2018-12-18 00:21] mingos777 commented on #148
@lostfictions My guess would be that type declarations and closure compiler have nothing to do with each other. Type declarations are produced by tsc (`tsconfig.json` is configured to produce them: `"declaration": true`) by taking the TypeScript sources and spitting out the type declarations based on the types and the code structure. Closure compiler takes JavaScript as input and outputs JavaScrip

[2018-12-18 01:58] jonbro commented on #152
yep, of course! I did a few tests on my way to this conclusion, though unfortunately I was having difficulty using performance.now() to isolate just the drawing functions. It seemed like the best test that I could get was via measuring the time from the beginning of the loop to the beginning of the next loop. My suspicion is that the browser is deferring the canvas draw calls until after the javas

[2018-12-18 02:09] jonbro commented on #152
going back to the early tickets on this topic #22 and #50 it seems like the pixel based approach that I am suggesting was proposed but rejected in favor of the current approach. I wonder if under certain circumstances, the globalCompositeOperation is actually faster. Possibly with fewer, but more high resolution tiles.

[2018-12-18 13:31] ondras commented on #148
This issue has taken quite a twist! So many topics are making it somewhat hard to follow. I will try to address individual points, but let's start with some general observations first.

1) rot.js is *primarily* meant for client-side development. The node support is something naturally available due to the language used, but my wild guess is that 80% of rot.js use cases are for browser-based games.

[2018-12-18 13:45] ondras commented on #148
After giving this some more thought (and consulting with the [current build schema](https://github.com/ondras/rot.js/blob/master/build.png)), I am now almost certain I understand your needs. You want the green part, except that the files shall be using CommonJS instead of ES6 modules. Am I correct?

[2018-12-18 14:13] mingos777 commented on #148
That leaves the 20% of folks like me who will inevitably be dissatisfied.

Not criticising Closure's output. I'm just saying it's more natural to replace it with UglifyJS, which does the exact same thing, but without needing a Java tool in the process. So condition 2a is fulfilled, and condition 2b is irrelevant in the context of the end user. The end user needs zero effort to build the project. H

[2018-12-18 14:22] mingos777 commented on #148
In a nutshell, yes. This would solve my issues as the end user. This + making `package.json` point to `lib/index.js` (not the `"module"` property; Node won't be able to use that).

As a potential contributor to rot.js though, I find that the build toolchain is overly exotic for me to even bother.

[2018-12-18 14:30] mingos777 commented on #148
Also, I have an unrelated question (sorry to pollute the topic, but I really don't want to open a new issue just to ask this): what is `RestrictiveShadowcasting` based on? Is it something you came up with yourself, or an adaptation of existing code? Initially I thought it could be MRPAS, but the FOV shape, performance and symmetry are wildly different between the two. The code does not seem like e

[2018-12-18 14:31] ondras commented on #148
You mean RecursiveShadowcasting? That would be https://github.com/ondras/rot.js/pull/29 .

[2018-12-18 14:33] mingos777 commented on #148
Sorry, I meant `PreciseShadowcasting`.

[2018-12-18 14:48] ondras commented on #148
My point here is that the published package is *oriented towards the 80%*, i.e. it closely mirrors their needs. This does not mean that 20% are completely out of the game, but they are not the main focus. I am, however, (as you can see in this discussion) trying to provide a solution acceptable to them as well.

That is [precisely the package I am using](https://github.com/ondras/rot.js/blob/maste

[2018-12-18 14:49] ondras commented on #148
Ah, that is my own algorithm. See http://www.roguebasin.roguelikedevelopment.org/index.php?title=Precise_Shadowcasting_in_JavaScript for reference.

[2018-12-18 16:44] ondras commented on #148
My point here was the concept *"make any changes to npm modules that I install"*, in a way that would actually modify the installed npm module. This obviously sounds like a bad idea and I agree that it should not be done.

I considered bundling/transpilation as an operation that does not modify the installed module. Probably just a miswording from my side. Ignore me.

Great! Please show me how to

[2018-12-18 17:05] mingos777 commented on #148
OK, so we're down to the very essence of this post: fixing the typings in order to get Node + TS up and running with rot.js. I will have a look at the code and see if I can point out exactly what changes would be required.

[2018-12-19 07:35] ondras commented on #152
Wow, thanks for the detailed post! I will try to look into this, even though it looks like a more complex issue and my time is pretty limited these days.

I am pretty certain that globalCompositeOperation is faster than individual per-pixel processing, but only when you compare comparable: your code is *way* faster because you are only drawing the canvas once per frame (the `ctx.putImageData(image

[2018-12-19 07:41] ondras commented on #148
Might be relevant: https://github.com/Microsoft/TypeScript/issues/4433

[2018-12-19 09:09] mingos777 commented on #148
No. There's no need to provide a separate CommonJS set of files. As I said before, Node.js is more than happy to use a bundled file, so that's not an issue. The `.d.ts` files provide plenty information to allow code discoverability - that is, if exports are reworked towards that.

[2018-12-19 09:15] ondras commented on #148
This is something that interests me: how does this even work? The bundle is `dist/rot.js`, type declarations are `lib/subdir/file.d.ts`; how is TS able to correctly pair these? Also, the fact that intellisense is failing for you in some scenarios suggests that perhaps this pairing is not flawless.

[2018-12-19 09:30] ondras commented on #148
Ah, I basically forgot about the `types` field. My bad. Makes sense now, although I do not really understand why the default exports are not properly discovered.

[2018-12-19 09:40] mingos777 commented on #148
Because they are not named. When importing a default export, you give it your own name. You can import it as `RecursiveShadowcasting` or as `Tiddlywinks`, it's entirely your call. So the IDE does not and *should* not know what name to suggest in intellisense.

[2018-12-19 09:53] ondras commented on #148
My TS gives working intellisense for properties of a default export (named during import). I am not sure whether this is the same case, but this works:

[code]

[2018-12-19 10:13] mingos777 commented on #148
No, this is not the same use case. Once you import an object, TypeScript will know what it's referencing. Using something that's not yet been imported is harder.

[2018-12-19 14:16] jonbro commented on #152
Yeah, I recognize that this is a big issue :) and its a real pain to get it right too - I ended up reimplementing the parts of Rot.Display that I needed for my particular project - it is doing a number of hacks to get speed even higher than my demos that I posted above. This is passing every tile via a normal Display.draw(x,y,char) call.

https://glitch.com/edit/#!/asc-paint?path=src/Display.js:7:

[2018-12-19 17:02] ondras commented on #152
This would make sense the most to me as well. I would, on the other hand, prefer to not have as many performance-related switches (multilayer, alpha) as possible, to keep the stuff readable and minimize complexity. I believe WebGL provides enough performance to comfortably fit within the 60 FPS cap of the requestAnimationFrame loop.

[2018-12-24 23:48] jaspercb opened #154 "color.js type declarations should use Color more aggressively instead of number[]"
The declarations in `lib/color.d.ts` are insufficiently strong. An expression like
`ROT.Color.toRGB(ROT.Color.interpolate(color1, color2, 0.5))`
is poorly typed because interpolate returns a `number[]`, not the `[number, number, number]` taken by toRGB. From a quick overview of `colors.js`, I believe the type declarations could be updated without trouble, so I suggest that all (or at least most, b

[2018-12-26 11:46] mingos777 opened #155 "Discrete Shadowcasting issue (corner case?)"
While testing Discrete Shadowcasting, I managed to produce a weird looking FOV shape:

![Discrete Shadowcasting bug](https://i.imgur.com/J2yA0rb.png)

I know this FOV algorithm is described as obsoleted, but it has not been removed, so I'd expect it to work correctly.

[2018-12-29 22:38] ondras commented on #152
Hi @jonbro,

please feel free to check out my work-in-progress demo implementation of the WebGL-based tile rendering mechanism: https://beta.observablehq.com/@ondras/new-rot-js-display-backend-for-image-tiles

I would say that it performs just fine. The demo is slowed down by CSS-based canvas resizing, because I am using huge (64x64) tiles on a large (80x25) display. It uses colorization (tinting)

[2018-12-30 17:31] jonbro commented on #152
Impressive! I was seeing a teeny bit of slowdown on my phone, but like you say, batching will make that issue go away completely. This is great.

[2019-01-25 03:38] radman0x opened #156 "The purpose of Corridor.createPriorityWalls()?"
I'm curious about what [Corridor.createPriorityWalls()](http://ondras.github.io/rot.js/doc/classes/_map_features_.corridor.html#createprioritywalls) is for? I'm using the library to generate a Uniform map and then iterating rooms and corridors to render. If I put walls around each room then the passages are 'blocked' and I was hoping this method might provide a simple method of solving this. Does

[2019-01-26 16:52] ondras commented on #156
The general idea of *priority walls* is that certain cells should have a higher chance to be dug out -- when talking about corridors, these are the three cells located at the remote end of the corridor. This is to ensure that there are no dead ends; the algorithm first digs from these priority cells and when there are none remaining, it picks other places at random.

I do not think that these *pri

[2019-01-26 23:32] radman0x commented on #156
I see the purpose now, does that mean createPriorityWalls() is more of an internal method, a utility used during generation?

Where you're talking about the 'map generator' and 'the callback to generate'  are you referring to the [Map.create()](http://ondras.github.io/rot.js/doc/classes/_map_map_.map.html#create) method? If so, is the third param to the callback 'contents: number' the one that sho

[2019-01-28 07:03] ondras commented on #156
Precisely.

Yeah, sorry, I mis-named the function. It is `create`, right.

The third param is a number, 0 or 1. 0 means empty space, 1 means solid rock. There is no further distinction (room/corridor), but it should be sufficient for your case.

[2019-01-29 23:39] #156 closed

[2019-02-12 22:57] hyakugei opened #158 "Individual Light Strengths (feature request)"
Right now all lights "throw" to the range value passed into the `ROT.Lighting()` object. Is it possible for each individual light have its own _range_?

[2019-02-12 23:08] hyakugei commented on #158
I guess for each set of light strengths i can run/use a new instance of the `ROT.Lighting()` with that range, and then using the example in the lighting section, combine all those values together... Not sure if the mixing will look as good - going to try it though.

[2019-02-14 07:35] ondras commented on #158
Hi @hyakugei ,

your idea makes sense, but only for a 1-pass run of `ROT.Lighting`. Please note that there is also the possibility to compute the light intensity recursively in multiple passes, where *every single cell that was lit in the first pass becomes a (small) light source for the second pass*.

So while it is straightforward to make explicit lights have their own range, I have no clue what

[2019-03-13 10:37] st33d opened #159 "Unshift in Scheduler"

[2019-03-15 14:51] ondras commented on #159
It looks like the behavior depends on the scheduler type:

  - `Simple` just rotates the queue, so *unshift* translates to unshifting the queue;
  - `Speed` is problematic, because the underlying EventQueue cannot be really cheated by re-ordering;
  - `Action` basically already has this, because the newly inserted actor can be specified with a duration of 0, effectively jumping the queue.

I assum

[2019-03-18 15:58] samspot opened #160 "Display.drawText throws an error in tiles mode"
When working with tiles, drawText no longer functions:

    this.display = new ROT.Display(optionsTiles);
    display.drawText(0, 0, "Hello World")

yields:
    Uncaught Error: Char "H" not found in tileMap`

[2019-03-19 07:26] ondras commented on #160
Well, this is kind of intentional. The `drawText` is basically a bunch of individual `draw` calls (for individual text letters). If you are unable to do `draw("H")`, you will be unable to do `drawText("Hello")`.

[2019-03-19 13:31] samspot commented on #160
Ok, it’s not surprising that it’s not supported (though it would be nice to
have). Maybe a check and better error message in case of tiles mode? I
could add that if you would accept a pull request.

On Tue, Mar 19, 2019 at 2:26 AM Ondřej Žára <notifications@github.com>
wrote:

[2019-03-19 14:16] ondras commented on #160
I am really not sure what would the proper behavior be, as I always considered drawing text with Tiles as undefined. Feel free to send a PR with better wording/handling, if you have a strong opinion on this.

[2019-03-21 23:54] #115 closed

[2019-04-01 15:53] bleakley opened #161 "Handling wider unicode characters"
Certain wide unicode characters, for example ⚔ (the crossed swords character U+2694) appear as about half their size relative to alphanumeric characters. There doesn't seem to be any configuration to display them at their full size. Some ideas:

- If there is spacing between characters (due to hex layout, forceSquareRatio, or explicit spacing) display the characters at their full width when space

[2019-04-02 07:49] panpanick opened #162 "create callback for Map.Uniform is being ignored?"
In my project, I can create a Map.Cellular like this without issue
[code]
however, if I try to create a Map.Uniform instead, the `create` callback never runs
[code]

[2019-04-02 08:01] ondras commented on #162
Looks like you are hitting the time limit. Increasing it is probably not going to fix your issue, though, because:

  - your map is *huge* (800x240 cells)
  - the generator creates approximately ~1700 rooms
  - and then it fails to connect them properly in the given limit of attempts, connecting only about 20 of them.

For a map of this size, I would suggest switching to ROT.Map.Digger. The Unifor

[2019-04-02 08:11] panpanick commented on #162
I see. The ROT.Map.Digger does preform better. I should cut down my map size then.

[2019-04-02 08:11] #162 closed

[2019-04-04 11:02] ondras commented on #161
Hi @bleakley ,

thanks for the report! Would you be willing to provide some examples regarding the incorrect rendering? My quick example at https://jsfiddle.net/nwu78s30/ shows proper character size (the same width as other characters, the main property of a monospaced font), at least on my Firefox / Ubuntu machine.

[2019-05-30 20:24] Gerhard-Wonner opened #163 "[Question] Is there a way to use two different tilesets?"
[Question] Is there a way to use two different tilesets? E.g. one PNG for the dungeon tiles as background and one animated GIF for the characters in the foreground?
By the way, thank you for creating this amazing engine! :-)

[2019-05-30 21:35] Gerhard-Wonner commented on #152
Hello Ondřej,
I am also very interested in a higher frame rate when using colorized tiles since my game is intended to be played fast paced. When I set the "tileColorize" to "false" the performance is much better. But I really need the colorization since I want to draw a navigation-system-like path over my tiles.
Are you still working on this issue?
Kind regards
Gerhard

[2019-05-31 06:16] ondras commented on #163
Hi @Gerhard-Wonner,

no. Only one tileset is supported; also please note that animated GIFs are not really possible because there is no straightforward way (in client-side JS)  to access individual animation frames.

I would suggest storing your animated GIF as a spritesheet instead, using a setTimeout-based loop to draw individual frames.

[2019-05-31 06:17] ondras commented on #152
Hi @Gerhard-Wonner,

I got distracted and forgot about this feature. Sorry. Let me put it back to my priority list to see what can be done.

[2019-05-31 07:13] Gerhard-Wonner commented on #163
Hi @ondras, thank you for your helpful answer! 👍

[2019-05-31 07:49] Gerhard-Wonner commented on #152
Good morning @ondras, you are awesome! 👍
Thank you so much for providing this fantastic game-engine! I used it in this year's 7DRL challenge and I am quite satisfied with the result. My game is a turn-based racing game with roguelike elements. It is all about overtaking, speed and speed-boosts so your "Speed scheduler" matched my needs just perfectly. It was received quite well and has been played

[2019-06-03 14:18] ondras commented on #152
I pushed some initial preparations to the [tile-gl](https://github.com/ondras/rot.js/tree/tile-gl) branch.

The implementation is taking much longer than I thought, though, because I constantly run into corner issues regarding blending, opacity and redrawing. WebGL is not something I am 100% versed in :-(

[2019-06-04 07:03] ondras commented on #152
I just merged the tile-gl branch to master. This means that you are invited to test the webgl functionality!

Please use the `master` branch or the 2.1.0 version from NPM; swap your `layout:"tile"` to `layout:"tile-gl"` and report how does that work for you. I will leave this issue open, should someone encounter a bug related to this very fresh webgl implementation.

This new WebGL renderer is als

[2019-06-05 21:44] Gerhard-Wonner commented on #152
Hello @ondras, thanks a lot for the quick help and the enhancment of the performance. Please excuse my late response. I had troubles to get the tiles displayed in my local version of the game and got the error message "Cross origin requests are only supported for HTTP". But after I uploaded everything to the server it worked and I can see that the performance is better now. :-)
Do you have any ide

[2019-06-05 22:00] Gerhard-Wonner commented on #160
Hello @ondras, would it be possible to just display the letter like in the "forceSquareRatio:true"-mode with the fontSize set to tileHeight if the letter is not included in the tileMap?
This would be very handy for me since I have to display a ranking-table with grand-prix-points in my "racing-game". So far since the game is still in ASCII this is no problem because the opponents are "Runner A", "

[2019-06-06 09:55] ondras commented on #152
Hi @Gerhard-Wonner,

I very briefly linked the image loading issue at the [very bottom of the manual page](http://ondras.github.io/rot.js/manual/#tiles).

TL;DR: use a (local) web server to serve images; develop either using `http://localhost` or configure your web server to send proper CORS headers.

Longer read: https://hacks.mozilla.org/2011/11/using-cors-to-load-webgl-textures-from-cross-domai

[2019-06-06 10:07] ondras commented on #160
Hi @Gerhard-Wonner ,

I am afraid that a regular tile size is far too large to be a suitable drawing canvas for *one* letter. For a typical tile size of 32, the letter spacing would be too much for convenient reading.

The recent webgl-related development is complicating this approach even further, because there is no straightforward way to render text into a webgl canvas.

A suggestion (not tried

[2019-06-06 14:03] Gerhard-Wonner commented on #160
@ondras Thank you for the detailed answer! :-)
I probably try that in the future. Maybe I just draw the alphabet with "forceSquareRatio:true" and take a screenshot of it and include this into my tileset.

[2019-06-07 19:47] Gerhard-Wonner commented on #152
@ondras Thank you for the explanation. I will try it soon. Sorry if I ask silly questions, but I just used the 7DRL-challenge as an opportunity to learn JavaScript. So this whole web developing thing is quite new to me.

[2019-06-08 04:02] Gerhard-Wonner commented on #152
@ondras I found a solution for me that works well: I just open my local version using the "Live Server"-extension of Visual Studio Code and all the tiles are displayed correctly. :-)

[2019-06-08 08:00] ondras commented on #152
Hi @Gerhard-Wonner,

no problem, feel free to ask more! You will soon find that although the whole frontend tech stack looks simple, it contains many convoluted difficulties. But this particular complexity (cross-domain image requests) is actually very reasonable.

Right, that is exactly what I meant by `localhost` development. Good to hear that it works for you.

[2019-06-25 19:15] Hectate opened #164 "Scheduler.Action fails if you add a `0` as an actor."
I was having some issues with implementing the scheduler and I was able to narrow it down to this issue. Because I'm using an ECS library, I was using the Entity IDs from that library to add them to my scheduler. The first entity from the library was id `0`, and accordingly it was passed along to the Scheduler as the first actor to schedule. With a `0` as the first actor, the scheduler broke down

[2019-06-25 20:48] ondras commented on #164
Hi @Hectate ,

thanks for the bugreport! This is a nice one.

Nah, I would say that a numerical ID (incl. zero) should be fine. I would guess that we have a `if (!actor)` test or similar present; I will simply try to make this comparison more strict.

[2019-06-26 12:51] #164 closed

[2019-06-26 12:52] ondras commented on #164
Fixed! Please verify by updating to version 2.1.1.

[2019-06-26 13:34] Hectate commented on #164
Fix confirmed. Thanks!

[2019-06-27 01:07] Hectate commented on #164
I didn't use it, but I noticed this was still using the old style check:
https://github.com/ondras/rot.js/blob/9fa25bdbe50a1c85c718542aeec4365345c7e445/src/scheduler/speed.ts#L26

I had issues with a ID `0` again today, but it's really strange and inconsistent. I'm going to use my workaround for now and later when I have time I'll build a barebones test case to narrow down the issue. Thanks again.

[2019-06-27 05:47] ondras commented on #164
`Speed` actors are supposed to provide a `getSpeed()` method, so `0` is not supposed to work here.

[2019-06-29 10:39] Gerhard-Wonner commented on #152
Hello @ondras, there seems to be a problem with some browsers when opening http://ondras.github.io/rot.js/manual/#tiles.
On Microsoft Edge I get the error-message "Unable to get property 'createShader' of undefined or null reference".
On Apple-Safari (IPad) I get "null is not an object (evaluating 'gl.createShader')".
On Chrome, Firefox and Opera everything seems to work fine.

[2019-07-05 20:13] ondras commented on #152
Hi @Gerhard-Wonner,

that would correspond to the WebGL2 support status across browsers: https://caniuse.com/#feat=webgl2

Someone more skilled with WebGL might be able to re-factor the code using an older WebGL implementation (version 1), though.

[2019-07-06 14:15] Gerhard-Wonner commented on #152
Hello @ondras,
thank you for the information.
Since the most common browsers already support WebGL 2.0 I decided to publish the [graphical version of my game](https://gerhard-wonner.itch.io/test) anyway.
For the players lacking a browser capable of WebGL 2.0 I also kept the [ASCII-version](https://gerhard-wonner.itch.io/runtothestairs).
Does anyone know or could anyone check, if the page http://on

[2019-08-25 03:08] myevan opened #165 "[bug] Drawing CJK characters"
rot.js has a bug when drawing CJK characters in node (ok in web)

1) First bug is rot.js does not support CJK unicode blocks

2) CJK characters are full-width characters, but they are strangely printed in node.
In english, it's like this: `Hello` -> `Hello     ` or `H e l  l o` (`안녕` -> `안녕  ` or `안 녕 `)

node english (ok)
<img width="360" alt="rot js_draw_text_english" src="https://user-images.gi

[2019-08-26 07:38] ondras commented on #165
Hi @myevan ,

thanks for the report! It would be great if you managed to send a PR, provided you were already able to fix the issue.

[2019-08-27 14:42] myevan commented on #165
hi @ondras,
thank you for your answer. i'm a beginner in javascripting and will need some time for making the PR : )

[2019-10-23 15:26] ghost opened #167 "Document behaviour of Display.clear() and transparent bg color"
Under the current behavior with the canvas-backed display, using a transparent background (for example #00000000) makes all options to overwrite previously drawn pixels fail to function.  I assume that this might be because the default behavior with transparency is to blend to the existing pixels to rather than replace them completely.

I wanted to use a transparent background so the color would n

[2019-10-24 06:34] ondras commented on #167
Hi @glfmn,

thanks for the report. I will try to either add this to the documentation or come up with a fix so that clearing with transparency actually does stuff :)

[2019-10-27 09:41] ondras commented on #167
Hi @glfmn,

can you please provide an example that demonstrates the difficulties you are running into? I just tried https://jsfiddle.net/f5b4veca/ and it seems to work both in Firefox and Chrome. I might be missing some crucial point, though.

[2019-10-27 09:46] ondras commented on #167
Never mind, please ignore my previous example. I obviously forgot that individual calls are batched per requestAnimationFrame.

[2019-11-20 20:10] GitNitneroc opened #168 "using node-canvas"
Hi, and thanks for reading

I know my use case is very specific, but I need server-side image generation. I thought it would be trivial to replace the use of html canvas by node-canvas (module name "canvas"), but my lack of knowledge in TypeScript and maybe Make left me unable to make any progress.

Having a node-module named "canvas" was probably conflicting with your display.canvas class, so I r

[2019-11-21 14:14] ondras commented on #168
Hi @GitNitneroc,

turns out that I am no great TS guru either. But I hope we will find something out :)

This caught my attention, because I do not exactly see how a builtin (node_modules) module could conflict with my own module specifiers, which are always specified via relative paths (their names start with a dot). Would you be willing to publish your code prior to renaming Display.Canvas to RO

[2019-11-21 20:44] GitNitneroc commented on #168
First, thank you very much for reading my message !

I looked at this file too, but your tsconfig has a target of es2017 so the Node resolution path should be used and rot.js/node_modules/ should definitely be used.

I will upload a complete project if you want but here's a small example :
I just used npm install and npm install canvas
then I modified the src/display/canvas.ts file as such :

[cod

[2019-11-21 21:27] ondras commented on #168
This sounds *exactly* like the case for the `paths` mapping: apparently TS is unable to properly resolve the module specifier and we should be able to provide an explicit hint.

I will hopefully find some time to get to your issue tomorrow.

[2019-11-22 12:53] ondras commented on #168
Apparently not -- running `tsc --traceResolution` reveals usage of the Classic resolution strategy.

So I added `--moduleResolution Node` and it worked! You can either pass this as a CLI option in the Makefile or add it to the list of `compilerOptions` in tsconfig.json.

[2019-11-22 20:56] GitNitneroc commented on #168
Amazing, thank you very much Ondras !
Reading the documentation still makes me think Node moduleResolution should be used with es2017 as a target, but I guess my English is bad...

Now I'll try to see if the naming of display.canvas and the canvas module still conflict.

Would you like a PR of this node display if I manage to make it work correctly ? My use case is pretty specific I'm not sure any

[2019-11-23 20:34] ondras commented on #168
Probably not. You might be actually better off mimicking the `document.createElement("canvas")` call by monkey-patching it using a node-specific loader, something along the lines of

[code]

...so that this hack remains specific to your scenario -- no adjustments in rot.js might be necessary.

[2019-11-24 23:25] kosinaz commented on #76
I was looking for the same, mostly because I saw how nice it is in DoomRL, for example. Fun fact, DoomRL uses an algorithm that is very similar to our DividedMaze.
After a little bit of hacking, I managed to implement almost all the Dungeon features on the DividedMaze as a range of customization options that resulted in some beautiful mixes.
![example](https://raw.githubusercontent.com/kosinaz/rot

[2019-11-30 16:14] GitNitneroc commented on #168
Sorry for not replaying earlier, and thank you very much for your directions.

For reference, if somebody ever needs this too, I also had to change requestAnimationFrame for a node counterpart, so here are those hacks :
[code]
However, I'm puzzled by the next issue that popped up when trying to use display.draw().
`TypeError: Image or Canvas expected`
Tile.draw() seems to dislike my tileset, which

[2019-12-02 12:09] ondras commented on #168
Again, can you please show the relevant code? In particular,

1) your `createCanvas` implementation,

2) how do you create your `tileSet`

So that I can try to reproduce and debug the issue.

[2019-12-03 21:30] GitNitneroc commented on #168
Thank you very much for taking the time to answer, your support is amazing.

I was crafting a readable version of my code to show you and I just fixed the problem ! I don't understand how the little things I changed could solve the issue, so I guess I made something stupid a while back when I was messing with your code. Trying to reproduce in a fresh environement solved my problem...

So, please e

[2019-12-03 21:30] #168 closed

[2019-12-04 07:07] ondras commented on #168
:+1:

[2019-12-09 02:09] R-Gerard commented on #62
+1 for this. Extending `Dungeon` instead of `Map` would be very helpful.

[2020-01-14 16:31] mreinstein opened #170 "rendering is blurry"
Here is text rendered on my screen via rot.js [1] :
![rot](https://user-images.githubusercontent.com/718067/72362289-c160b400-36a7-11ea-9b8f-54671b7716a8.png)

Here is text rendered on my screen via some library called malison [2] [3]:
<img width="328" alt="malison" src="https://user-images.githubusercontent.com/718067/72362305-caea1c00-36a7-11ea-8466-372e2722925d.png">

Both use a `<canvas>` elem

[2020-01-14 19:38] ondras commented on #170
Hi @mreinstein,

first I suggest deciding whether the issue is caused by the higher DPI (Retina) or not. To perform a Retina test, make your font size double (this will make the <canvas> double as well) and scale it back to the desired size via CSS, e.g.

[code]

...and let us know how does this look like.

However, I believe that pixel density is not the real issue here -- font rendering is. ROT

[2020-02-16 15:00] eScribMac opened #171 "Is there a way to use multiple tilesets?"
Following the guide here: http://ondras.github.io/rot.js/manual/#tiles I am able to load one tilesheet, however I am not able to figure out how to load more than one. Is this possible, or should I just merge the tilesheets that I am using?

EDIT: just noticed this is answered in #163, closing this

[2020-02-16 17:27] #171 closed

[2020-02-17 21:57] eScribMac commented on #163
@ondras would you be interested in a PR to support multiple tilesets?

[2020-02-18 09:30] ondras commented on #163
Hi @eScribMac,

would you please elaborate a bit on this feature? What is its purpose, what problems does it solve, what API would you propose etc? Is there any prior art for this?

[2020-02-18 13:38] eScribMac commented on #163
I am currently using a PNG tilesheet collection that I found online. It comes broken into different files for the environment tiles, characters, monsters, etc. There are 12 files in total. I could combine these files in an image editor, but it would be tedious and finding in the coordinates on such a large image would be tedious as well.

For the API, my suggestion would be to maintain backwards c

[2020-02-18 14:18] ondras commented on #163
I see. Well, the feature itself makes sense.

I also see some issues with the outlined approach when using the WebGL tile renderer. Individual tile sets would have to be loaded as WebGL textures and my limited WebGL experience tells me that the number of simultaneously active textures is limited, so we would have to find a way to somehow juggle texturing units during the draw calls.

However, I ha

[2020-02-25 04:36] TimTCrouch commented on #170
Is it possibly to use raster font images natively with rot.js? I know libtcod uses them as its main ASCII-loading tool. I am trying to get super-crispy looking Code Page 437 ASCII characters and that is really turning into pain in the browser lol. I have one working, but it is extremely blurry like the OP mentioned no matter which font type I seem to use.
Thank you!

[2020-02-25 04:53] blinkdog commented on #170
I wanted exactly this look in my 7DRL entry for 2015:
https://github.com/blinkdog/7drl-2015

So I borrowed a PNG of the CP437 characters from somebody else's 7DRL 2014 entry:
[Necromancer Simulator 2014](https://github.com/maqqr/7drl2014)
https://github.com/blinkdog/7drl-2015/blob/master/img/terminal8x8.png

And then used a little bit of code to make a tile map that could behave a lot like text:
h

[2020-02-25 07:10] mreinstein commented on #170
@TimTCrouch @blinkdog I've been experimenting with my own renderer, which is heavily inspired from malison/hauberk as a starting point. It uses a raster based sprite font.

https://github.com/mreinstein/ascii-diagrams

Right now the renderer itself is coupled to this ascii diagraming prototype tool (which was the inspiration for starting this in the first place.) It could/should be pulled out into

[2020-02-25 07:20] ondras commented on #170
Hi folks,

rot.js's text rendering power is ultimately based on (and limited by) the underlying HTML `<canvas>` feature. If you manage to get the `<canvas>` working the way you like, it is very probable that we can fix rot.js to do the same. Keep in mind, however, that the canvas is primarily designed for vector fonts, so we might be out of luck here - and the only way to get a pixel-perfect rende

[2020-02-25 07:32] mreinstein commented on #170
I deployed a copy of this to the web, you can play with it here if you like. you can draw boxes, connect lines between boxes, label lines and boxes, etc. This looks non-blurry on both retina and non-retina screens:

https://ascii-diagrams-xybsmgbvoj.now.sh/

@ondras I can't speak to rendering ttf/otf/woff, but this demo is the visual behavior I'm after. It uses font sprite images. The code for thi

[2020-02-25 07:37] ondras commented on #170
Well, image tiles are always an option. They are already supported in rot.js, so anyone is free to use them.

[2020-02-25 19:18] mreinstein commented on #170
is there a working example of using an image tile? I could evaluate if this is producing similar visual results

[2020-02-25 19:31] ondras commented on #170
The official [interactive manual](http://ondras.github.io/rot.js/manual/#tiles) shows regular graphical tiles; they are always drawn 1:1, WYSIWYG. If you can give me a proper tileset image, I can throw together a trivial demo for you.

[2020-02-25 19:36] mreinstein commented on #170
@ondras here is a tileset image: https://github.com/mreinstein/ascii-diagrams/blob/master/font/font_16_20.png

here is the codepage mapping: https://github.com/mreinstein/ascii-diagrams/blob/master/raster-font/unicode_map.js

here is the code that performs the mapping between character glyph and position within the tileset image (sx, sy): https://github.com/mreinstein/ascii-diagrams/blob/master/ra

[2020-02-25 20:55] ondras commented on #170
Okay @mreinstein, a quick demo using your tileset: https://jsfiddle.net/fzeuy3sc/

[2020-02-25 21:00] mreinstein commented on #170
looks great!

[2020-02-27 18:38] mreinstein commented on #170
@ondras  a follow up question: besides browser support, is there any benefit to using the rot canvas renderer over webgl? I would think webgl would be more performant with the same amount of setup code.

[2020-02-27 21:05] ondras commented on #170
Definitely. That is the reason for the WebGL renderer :) Even though Roguelike games are often not that demanding with respect to rendering.

Its code is much newer and less mature, though. I am pretty certain it does not 100% match the feature set of a regular canvas renderer, with respect to tile stacks, colorization and/or opacity.

[2020-02-27 21:56] mreinstein commented on #170
thanks for clarifying! do you have a sense of what the actual feature gap is?

[2020-02-28 02:34] ldd commented on #152
I don't think you ever got a confirmation, but yes @Gerhard-Wonner ,
everything works smoothly on a Macbook Pro on Mojave running chrome 80

[2020-02-28 08:49] ondras commented on #170
I skimmed the code and there does not seem to be any incompleteness visible or mentioned. I suggest you try it right away, because you can always switch to the regular `"tile"` anytime you run into issues.

Also it might be worth mentioning that the WebGL renderer requires your textures to be of a same-origin with respect to the calling page.

[2020-03-01 14:22] kosinaz opened #172 "setOptions layout is not working"
I tried it several ways, and finally, I gave a chance to the interactive manual, but it does nothing.
I tried `layout: "hex"` and even `layout: "rect"` on an already `rect` display and then the display just got cleared.
[code]

Without the `layout: "rect"` line it works fine.

I would like to use this method to change between `rect` and `tile` layout at runtime. Based on the code this should be a

[2020-03-01 16:35] ondras commented on #172
Hi @kosinaz,

I would guess that you need to re-append the display's container. Switching the backend probably creates a new HTML container node that shall be appended as necessary.

Ref: https://github.com/ondras/rot.js/blob/master/src/display/display.ts#L113

[2020-03-01 20:17] kosinaz commented on #172
It works like a charm! Thank you!
I need to remove the previous canvas every time the layout is changed, but it's ok.
Thanks for the quick support!

[2020-03-01 20:17] #172 closed

[2020-03-02 07:58] mreinstein commented on #170
I've updated my diagramming tool to use rot.js with the webgl tileimage renderer. Seems to work pretty well!

https://ascii-diagrams-nlrfivgdbe.now.sh

I found 2 issues with the test fiddle that you provided:
* the `canvas` element needs a css property set, to disable interpolation on images:
`image-rendering: pixelated;` I haven't checked browser support for this particular property but I'm prett

[2020-03-02 16:51] mreinstein commented on #163
It sounds like the use cases described here center around manipulating sprites/spritesheets.

There are a lot of tools around spritesheet handling already, for example: https://www.codeandweb.com/texturepacker

In the interests of keeping the rot.js core small, it might make sense to rely on these external tools to do the tedious work, rather than mixing this in.

[2020-03-03 20:52] ondras commented on #170
Right, the fiddle was a proof-of-concept, not a full-blown example covering all features and edge cases.

Sounds correct, even though only for cases where the canvas has to be scaled. I suppose this covers the `devicePixelRatio > 1` cases, e.g. Retina devices.

On the other hand, enabling/forcing nearest neighbor interpolation (as oposed to the default linear interp) might be a matter of personal

[2020-03-03 22:08] mreinstein commented on #170
Let me clarify; I'm not picking on you or your solution. It's great! My point is that these 2 changes are needed to be made to render crisp, raster based fonts on rot.js :)

I think if you were to provide a visual comparison between these 2 rendering strategies (aliased fonts vs crisp raster tileImage fonts) and ask your users "which looks better" you might find that more people than you expect wo

[2020-03-04 10:54] ondras commented on #170
Right. Can you please confirm that this only applies to *retina-like* setups with `devicePixelRatio > 1`? I do not have currently any of these devices available and my current setup does not show any difference with/without the `image-rendering` property, as the raster tiles are always 1:1 (always crisp).

[2020-03-04 15:41] mreinstein commented on #170
confirmed

[2020-03-09 13:36] ondras commented on #170
I added a paragraph mentioning this into the Manual: https://ondras.github.io/rot.js/manual/#tiles

[2020-03-09 17:18] mreinstein commented on #170
looks good. I'll close this issue, since there is a way to achieve the desired effect and it's somewhat documented in the manual. Thanks for taking the time to work with me on this!

[2020-03-09 17:18] #170 closed

[2020-03-11 01:45] TimTCrouch opened #173 "Support for static maps?"
I have been looking into using rot.js for a roguelike-like project, but one that does not include randomly generated maps. Rather, I would like to create the maps by hand, save them into some kind of matrix format and then import them into a rot.js-powered game. Of course it would be trivial to simply loop through my static matrix and draw() my own map to the display. But I am also wanting to take

[2020-03-11 07:53] ondras commented on #173
Hi @TimTCrouch,

you are not forced to use generated maps in order to leverage other parts of rot.js, such as FOV or Pathfinding. You are completely free to use any data structure for your map; that is why you provide *callbacks* to FOV/pathfinding.

For instance: you can save your map data to a text file and read that back into a an array of strings (lines). Say you now have:

[code]

Next, we wi

[2020-03-11 22:14] TimTCrouch commented on #173
Thank you for this! I guess I sort of misunderstood the case of the callbacks based on some code I had seen. I appreciate it!

[2020-03-11 22:14] #173 closed

[2020-04-12 17:13] twpage opened #174 "RNG class not exported in typescript?"
I have been using typescript since before rot.js converted so now I am unwinding a lot of my various 'hacks'. I am running into trouble accessing the underlying RNG class in the default index.d.ts. It seems like all that is exported is the actual RNG object (default RNG), whereas I am using multiple RNG objects, and have some code around accessing them. Since these functions return an RNG as a typ

[2020-04-13 11:17] ondras commented on #174
Hi @twpage,

the RNG class is indeed not exported. I *think* this was also the behavior pre-TS, so in order to create a separate instance, you just had to `clone()` the existing ROT.RNG singleton.

I am, however, not sure what is the main problem here. If you need to pass your own RNG instances around and need a proper typing, perhaps this might work?

[code]

[2020-04-13 17:33] twpage commented on #174
Using typeof works. I knew there was a more elegant way I just could not figure it out. I appreciate the quick response as always! I love the library - especially loving the full fledged typescript version.

[2020-04-13 17:33] #174 closed

[2020-04-13 17:34] ondras commented on #174
Great! Glad to be of help.

[2020-04-28 18:26] Raebyn opened #175 "[Question] Using a font family that isn't installed on the system?"
I have problems with using a font in-game that isn't installed on my system. I added the font via css:
@font-face {
	font-family: "Press Start 2P";
	src: local("Press Start 2P"), local("PressStart2P-Regular"),
		url("assets/press-start-2p-v8-latin-regular.ttf") format("truetype"),
		url("assets/press-start-2p-v8-latin-regular.woff2") format("woff2"),
		url("assets/press-start-2p-v8-latin-regular.w

[2020-04-28 20:05] ondras commented on #175
Hi,

you should definitely be able to use custom fonts with rot.js. I did that many times in the past, including [The Royal Wedding](https://ondras.github.io/trw/) and [Sleeping Beauty](https://ondras.github.io/sleeping-beauty/).

The problem you might be running into can be related to timing. You see, loading these external fonts is an asynchronous operation and the Browser often offloads downloa

[2020-04-28 20:17] kosinaz commented on #175
You can check mine too. I use three different custom fonts in it.
https://github.com/kosinaz/spectrl

[2020-04-29 02:14] blinkdog commented on #175
Some other articles that might help with the browser timing issues:
* [How to load web fonts to avoid performance issues and speed up page loading](https://www.freecodecamp.org/news/web-fonts-in-2018-f191a48367e8/)
* [CSS Font Loading API](https://developer.mozilla.org/en-US/docs/Web/API/CSS_Font_Loading_API) @ MDN

[2020-04-29 19:08] Raebyn commented on #175
Thank you very very much! I didn't expect answers that soon! :)
Since I did my font experiments locally, I'm not sure if it could have been a problem with loading time, but:
@kosinaz I tried your line
  <div style="font-family: myFontFamilyName; visibility: hidden; position: fixed">.</div>

and this was all I had to do to make it work. Thanks to all of you for your recommendations!

[2020-04-29 19:08] #175 closed

[2020-04-30 06:51] ondras commented on #175
This is not related to the speed of your network :-)

If you were not using the font via CSS means, the browser simply did not download the font at all. Your first font usage - via rot.js's canvas - instructed the browser to start downloading it. But this operation is asynchronous and due to the nature of the Event Loop in JS, there is no way the font would be available for your draw calls. The br

[2020-05-03 18:35] lychees opened #177 "[Enhance] Upgrade Eventqueue from Brute-Force to Heap"
It seems to me that the Eventqueue is implemented in Brute-Force way.
It can be upgrade with heap to get better performance.

[https://en.wikipedia.org/wiki/Heap_(data_structure)](https://en.wikipedia.org/wiki/Heap_(data_structure))

[2020-05-03 23:18] ddmills opened #178 "Support for square tiles and non-square-ratio text"
When rendering maps, `forceSquareRatio: true` is perfect, but when rendering display text, the square ratio makes it difficult to read:

![image](https://user-images.githubusercontent.com/4615125/80928440-182eee00-8d6a-11ea-8bdb-1aa0554a3e4e.png)

when rendering text, it would be great to have an additional flag or option to allow the aspect ratio to be non-square.

[2020-05-04 06:26] ondras commented on #178
The rot.js Display is supposed to represent a grid with rows and columns. It is not possible and not feasible to mix different character widths. I can highly recommend creating an independent rendering area for your text needs. It can be either a different ROT.Display instance, or simply a HTML `<p>` (with the additional benefit of CSS styling).

Alternatively, you might want to try different mono

[2020-05-04 13:43] ddmills commented on #178
I was thinking more along the lines of how it's done in cogmind: https://www.gridsagegames.com/cogmind/game/cogmind_labels_items.png

a good article on how this was achieved: https://www.gridsagegames.com/blog/2014/09/fonts-in-roguelikes/

I think maybe a couple challenges here:

1. would require support for multiple glyphs #163
2. would require some decent math around how many non-square glyphs w

[2020-05-05 08:41] ondras commented on #178
Also, there remains an open question of a text-based vs. image-based Display. You mentioned the `forceSquareRatio` property that is used for text-based Displays, but you also linked the #163 which is only relevant in the context of Image Tiles.

[2020-05-18 05:42] Jon-Biz opened #179 "High cpu usage by Display module"
I'm having a lot of fun with this, but ran into this performance issue.

I'm using the Display module to render a rectangular display, and getting 100% cpu usage from [this line:]https://github.com/ondras/rot.js/blob/afca3fefaeb28586b8f1635f156ca6d6a707d591/lib/display/display.js#L215)
[code]

backend.schedule() is [this line](https://github.com/ondras/rot.js/blob/afca3fefaeb28586b8f1635f156ca6d6a

[2020-05-18 06:49] ondras commented on #179
Hi @Jon-Biz,

it is, generally speaking, browser's responsibility to throttle `requestAnimationFrame` freqency into suitable domain: https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame

As far as I now, the typical frequency is 60fps, which corresponds to ~16ms delay between individual calls. It is weird that a manual +2ms delay would drop the CPU usage as much.

Instead

[2020-05-29 15:32] chrisesharp commented on #148
I'm trying to use this under nodejs (using ES6 modules, not TypeScript) and I see the same problem. Is there a work around for plain nodejs? @mingos777

[2020-06-01 06:32] ondras opened #181 "Scheduling broken with Heap addition"
Hi @Syntacticlosure,

I am afraid your recent addition of min-heap completely broke the scheduling.
  1. unit tests  at `tests/` are failing,
  1. people are running into issues: https://twitter.com/mikemcmarvelous/status/1267221319478767616

Would you mind taking a look?

[2020-06-01 06:38] Syntacticlosure commented on #181
Yes,i am looking for the problem.

[2020-06-01 08:17] Syntacticlosure commented on #181
fix here : #182,
sorry,it's all my fault to upload untested codes.

[2020-06-01 08:24] ondras commented on #181
Great, thanks for the extra-prompt fix!

[2020-06-01 08:24] #181 closed

[2020-06-27 16:37] dominik-ro opened #183 "Color.fromString's inferred return type is too general"
src/color.ts:
[code]
tsc infers return type `number[]`, but it should be `Color`. Also, could you export the `Color` type, please?

[2020-06-29 07:17] #183 closed

[2020-06-29 07:18] ondras commented on #183
Hi @dominik-ro,

I just pushed a fix that should do it. Please let me know if you need more adjustments.

[2020-07-23 21:44] #33 closed

[2020-07-29 17:25] nluqo opened #184 "ROT.RNG.setSeed unexpected behavior"
I'm using `setSeed` for seeded runs in a game and was really surprised by the behavior. Two main issues:

- The only valid input seems to be positive numbers. Passing a string would be really useful, but for both strings and negative numbers, the state is always the same. The first uniform is: `2.3283064365386963e-10`
- There is no avalanche effect. Similar seeds produce similar random numbers at

[2020-07-30 06:20] ondras commented on #184
Hi @nluqo,

good finding! Thanks for the report.

Right, the `number` type is also mentioned in the autogenerated documentation: https://ondras.github.io/rot.js/doc/classes/_rng_.rng.html#setseed

This is a problem indeed. I am open to fixing it, but we are facing a backwards compatibility issue - folks might be expecting a particular behavior for their already-generated seeds.

So, how about we a

[2020-07-30 07:33] blinkdog commented on #184
I'd put (pre-salt + the string + post-salt) through SHA-256 and then pull the least significant bytes to turn into a seed value.

https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/digest

The salt strings can be anything and don't need to be kept secret.
Running `dd if=/dev/urandom bs=1 count=24 | base64` gave me these:

[code]

[2020-07-30 07:39] ondras commented on #184
The RNG uses four state values, though I am not sure how exactly is the `_c` supposed to work - (current) seeding sets it always to `1`. So you suggest using the last 8*3 bytes to set `_s0`, `_s1` and `_s2` ?

[2020-07-30 07:39] ondras commented on #184
Also, I would prefer the seeding process to be synchronous :-)

[2020-07-30 07:49] blinkdog commented on #184
Yeah, that'd be a good way to do it.

[2020-07-30 08:00] blinkdog commented on #184
Hmmm, in Node.js I'd use:
https://nodejs.org/api/crypto.html#crypto_crypto_createhash_algorithm_options

And the browser I'd borrow Browserify's browser implementation of Node's crypto:
https://github.com/crypto-browserify/crypto-browserify
https://github.com/crypto-browserify/createHash
https://github.com/crypto-browserify/sha.js

These would give compatible synchronous strong hash functions.

[2020-07-30 08:12] ondras commented on #184
Sounds a bit like an overkill to me. We just need a way to convert a string to three 64bit values, without any particular crypto/security properties... how about the original Baagoe's [Mash](https://github.com/nquinlan/better-random-numbers-for-javascript-mirror/blob/master/support/js/Mash.js) function? I would say this should have been used from the very beginning.

[2020-07-30 09:15] blinkdog commented on #184
Yeah, that's pretty cool. I'll bookmark this one.

[2020-07-30 12:14] nluqo commented on #184
Ah yes, I forgot this even existed. Woops. Though I still think it should mention the sign of the number. I was using a library to generate SHA256 digests and getting an int out of it and it only returned signed integers... and thought I was good for a while.

It's easy to test a couple times (positive input, negative input, positive input) and think "these all look different enough" but not reali

[2020-08-23 14:19] jeason1997 opened #185 "Is it possible to generate a dungeon from some room templates"
Games like Isaac, Enter the Dungeon, they are all pre-designed rooms, and then connected to a dungeon through these preset rooms.

thanks :)

[2020-08-23 14:35] #185 closed, assigned to nobody

[2020-09-24 14:48] Gerhard-Wonner opened #186 "How to reset the speed-scheduler?"
I am currently writing a replay-feature for my game. Therefore I save the seed and all the player inputs. This works fine in the first level and I get a nice replay to watch.

However there is a problem in level 2. I get the same level layout and all starting positions also match. But by whatever reason it seems that some monsters do their turn a little later in the replay compared to the original

[2020-09-24 15:57] Gerhard-Wonner commented on #186
Fortunately I could solve my problem! :-)
My guess that it was the scheduler was wrong.

[2020-10-03 16:04] sil-quirk opened #187 "Simple scheduler schedules items after removal"
Reproduction: use the example code, modify by adding the single line marked below:

[code]

Any i which is 0 mod 4 will replicate; 3 gets an additional turn after removal.

[2020-10-03 19:55] ondras commented on #187
Nice find! Thanks, @sil-quirk .

[2020-10-03 20:00] ondras commented on #187
@Syntacticlosure, I have a feeling that this bug has been introduced with MinHeap. Would you please take a look? :)

[2020-10-04 02:54] Syntacticlosure commented on #187
I am sorry to hear about bugs found in the code which i contributed.
During last several months, I was in hospital and docters diagnosed me with crohn's disease.
So I suggested finding anyone else to fix this bug or rolling back to older version of scheduler.

[2020-10-05 09:15] #187 closed

[2020-10-05 09:19] ondras commented on #187
Hi all,

@sil-quirk, I believe I fixed the issue. Please try updating to the latest version (2.1.5).

@Syntacticlosure hope you will get better soon! (I am quite familiar with Crohn, so I at least wish your symptoms are mild.)

[2020-10-05 18:25] sil-quirk commented on #187
Hi, I agree it appears to be fixed now, I'm happy with the issue being closed.

[2020-10-14 16:54] Jer1911 opened #188 "eventque.js in the lib folder does not successfully import MinHeap"
Hi,

First off I want to say thank you for making this amazing library. Now on to my issue:
I notice that in /lib/eventque.js , you say:

import {MinHeap} from "./MinHeap";

Which in my case caused a 404 when testing locally. When I changed that line to this:

import { MinHeap } from "./MinHeap.js";

It now works as expected. Not sure if this was just a typo or if it was intended and I am just bei

[2020-10-14 21:29] ondras commented on #188
Nice find! The code is generated by `tsc` and it is apparently able to import both extension-less *and* .js files. I will fix this.

[2020-10-15 07:30] #188 closed

[2020-10-15 07:31] ondras commented on #188
Hi @Jer1911,

it should be fixed now. Please let me know if you run into further issues.

[2020-11-02 23:27] shadowtime2000 opened #191 "Create an ESM Build"
Currently imports use extensions which are required for browsers. Extensions aren't generally used when you have a project using a bundler such as Webpack.

[2020-11-05 20:25] #191 closed

[2020-11-15 08:51] Gerhard-Wonner commented on #78
Are there any news on this issue?
Being able to compute Dijkstra Maps would be very beneficial for [my game](https://gerhard-wonner.itch.io/runtothestairs) which is a racing game where the position of the goal never changes. The AI-runners sometimes need to recalculate their paths if opponents are blocking their way. Thus I will still have to calculate paths by the A* method every now and than.
So

[2020-11-15 09:11] ondras commented on #78
So, for every map cell in your game, you want to pre-compute and store *the distance from this cell to a common goal cell*? Sounds like a textbook case for the Dijkstra algorithm. I suggest doing this yourself, because it is almost trivial to implement. Re-using the rot.js implementation would be awkward and somewhat sub-optimal here, because the rot.js pathfinder would give you redundant informat

[2020-11-15 19:36] Gerhard-Wonner commented on #78
Hello @ondras,
thank you for the quick response! So I will implement it myself according to your proposal.
I would be pleased if you could also answer my other question.
Since there are two pathfinding algorithms implemented in rot.js (A* and Dijkstra) I wonder which one is better?
Or does it depend on certain cases? How can I decide which one to use?
Kind regards
Gerhard

[2020-11-15 20:51] ondras commented on #78
Hi @Gerhard-Wonner,

it depends on use cases. The A* is generally faster when trying to find one solution, but the Dijkstra implementation is caching all discovered values, so repeated Dijkstra calls with a common target cells are often more faster than multiple individual A* calls.

I am actually not sure why is the caching implemented only in ROT.Path.Dijkstra; perhaps it could be added to the A

[2020-11-15 23:03] airstruck commented on #78
Interesting conversation here!

I think you could actually piggyback most of Dijkstra on A* by switching out the heuristic function. There's some discussion of that here -- https://stackoverflow.com/questions/13031462/difference-and-advantages-between-dijkstra-a-star

But, yeah, DijkstraMap is a bit different, because it caches everything on the map with respect to some goal points. It's like Dijk

[2020-11-16 21:31] Gerhard-Wonner commented on #78
@ondras and @airstruck
Thank you for your informative responses!
I did the implementation today and I am quite happy with the result:
![image](https://user-images.githubusercontent.com/48105955/99308818-cd357d80-2858-11eb-999c-aae6ba6a34b5.png)
It is of course it is not as general as your solution @airstruck but it meets my needs quite well. I agree, it would be better to port your general solutio

[2021-05-17 09:32] TimAstier commented on #78
Joining up the conversation here.
Has anyone come up with a performant way to generate dijkstra maps in JS?
Or is there a way to use Rot.js to generate full maps (not only the result path)?
Like @hyakugei I'm also trying to generate dijkstra maps on every round, to try and do applications as explained in [these](http://www.roguebasin.com/index.php?title=Dijkstra_Maps_Visualized) [articles](http://

[2021-05-17 11:51] TimAstier commented on #78
I found my mistake, I had duplicates in some arrays 🎉
New performance:

[code]

[2021-07-14 13:41] anderoonies opened #195 "Publish drawOver to npm?"
hello!

it seems like the version on npm, 2.1.5, doesn't contain `drawOver`.
could you publish the updated version of the library to npm?

thanks so much!!

[2021-07-21 12:32] ondras commented on #195
Published as 2.2.0, thanks for the reminder! :+1:

[2021-07-21 20:21] anderoonies commented on #195
Thanks @ondras !

[2021-07-21 20:21] #195 closed

[2021-07-24 14:20] jcubic commented on #129
@ondras will you accept a PR, I can add this. Got an issue yesterday when the other library failed to run because it uses for..in on Array. Need to use a hack to temporarily remove the polluted properties while executing function from the other library.

[2021-07-24 14:37] ondras commented on #129
Yes, please. I am completely out of time these days :-(

A better solution IMHO would be to stop iterating arrays with for..in and use other looping approaches.

[2021-07-24 14:45] jcubic commented on #129
Yes, but this is not my code that does that.

[2021-07-24 15:00] jcubic commented on #129
I think that this is no longer valid. The library doesn't pollute Array prototype anymore. In my case, I was using an older version of the library.

I think this can be closed.

[2021-07-24 15:04] #129 closed

[2021-07-24 15:44] jcubic commented on #129
I think that it got removed when the project was migrated to TS. Because the last commit that had Array.prototype is 2392039cecc8de3a97c09ec94d2bf6286e130fc0 cleanup when _old file was deleted.

[2021-11-02 07:11] crotron opened #196 "Pathfinding based on ending callback instead of position"
Looking at the documentation, the Dijkstra routine for rot.js seems to accept a starting position and an ending position (among other things) and tells you the path between the two. I think this could potentially be made a bit more flexible through an alternate set of input parameters. The Dijkstra algorithm (unlike A*) is capable of handling multiple possible ending positions by basically just st

[2021-11-04 09:20] ondras commented on #196
Well, this is hard API-wise. All pathfinder objects in rot.js have their constructor signature based on `(targetX, targetY, ...)`, so swapping those coordinates with a callback will be quite messy.

This is also complicated by the historical fact that the logic is kind of inverted: you first specify the *target* and than (re-)use the instance for individual *source* positions. I am not sure why I

[2021-11-17 16:13] scalemaildev opened #197 "Best practices for running rot.js server-side? (and emitting the display to the client)"
I've been working on a NuxtJS app that will be hosting rot.js server-side. The basic flow of the app is this:

- The client-side component displays the Display and listens for keypresses
- When a key is pressed, that event is emitted to the server (specifically to a Game running on the user's socket)
- The server-side rot.js Game handles the turn and then emits the updated Display and new messages

[2021-11-17 16:50] ondras commented on #197
I am quite suprised by the proposed architecture. Rendering stuff server-side on every client update sounds very expensive with regard to the amount of image data transmitted server->client. I am not familiar with underlying decisions, but sending full raster updates on every keypress just does not fit into the typical client-server model/flow. You are essentially suggesting doing what VNC does -